In [1]:
import pandas as pd
import numpy as np
import tabula

C:\Users\Usuario\AppData\Local\Temp\ipykernel_19840\3008533230.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
pdf="../Inputs/Docs2LaFavorita/economica_1.PDF"
dfHeader = tabula.read_pdf(pdf, pages=1, area=(21,20,131,572), lattice=True, output_format="dataframe", encoding='latin-1')

Error importing jpype dependencies. Fallback to subprocess.
No module named 'jpype'

In [3]:
dafHeader = dfHeader[0]
dafHeader

,Unnamed: 0,RAZÓN SOCIAL,CORPORACION FAVORITA C.A.
0,DIRECCIÓN,AV.ELOY ALFARO Y AVIGIRAS No. N52-468 BARRIO:,NaN
1,EXPEDIENTE,384,NaN
2,RUC,1790016919001,NaN
3,AÑO,2019,NaN
4,FORMULARIO,SCV.NIIF.384.2019.1,NaN
5,FECHA DE LA JUNTA QUE APROBÓ LOS ESTADOS FINAN...,"Mar 27, 20",NaN
6,ESTADO DE SITUACIÓN FINANCIERA,NaN,NaN

In [4]:
dafHeader.rename(inplace=True, columns={"Unnamed: 0":"RAZÓN SOCIAL", "RAZÓN SOCIAL":"CORPORACION FAVORITA C.A.", "CORPORACION FAVORITA C.A.":"ds"})
dafHeader.drop(["ds"], axis=1, inplace=True)
dafHeader

,RAZÓN SOCIAL,CORPORACION FAVORITA C.A.
0,DIRECCIÓN,AV.ELOY ALFARO Y AVIGIRAS No. N52-468 BARRIO:
1,EXPEDIENTE,384
2,RUC,1790016919001
3,AÑO,2019
4,FORMULARIO,SCV.NIIF.384.2019.1
5,FECHA DE LA JUNTA QUE APROBÓ LOS ESTADOS FINAN...,"Mar 27, 20"
6,ESTADO DE SITUACIÓN FINANCIERA,NaN

In [5]:
df1 = pd.read_csv("./tabula-economica_1.csv")

In [6]:
df1

,Unnamed: 0,ESTADO DE SITUACIÓN FINANCIERA,Unnamed: 2,Unnamed: 3
0,NaN,CUENTA,CÓDIGO,VALOR (En USD$)
1,NaN,ACTIVO,1,2051462083.01
2,NaN,ACTIVO CORRIENTE,101,647041354.64
3,NaN,EFECTIVO Y EQUIVALENTES DE EFECTIVO,10101,15474979.89
4,NaN,CAJA,1010101,15474979.89
...,...,...,...,...
380,NaN,RESULTADOS DEL EJERCICIO,307,155764232.67
381,NaN,GANANCIA NETA DEL PERIODO,30701,155764232.67
382,NaN,(-) PÉRDIDA NETA DEL PERIODO,30702,0.00
383,NaN,ESTADO DE SITUACIÓN FINANCIERA,NaN,NaN
384,CUENTA,NaN,CÓDIGO,VALOR (En USD$)

In [7]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 385 entries, 0 to 384
Data columns (total 4 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Unnamed: 0                      2 non-null      object
 1   ESTADO DE SITUACIÓN FINANCIERA  384 non-null    object
 2   Unnamed: 2                      378 non-null    object
 3   Unnamed: 3                      376 non-null    object
dtypes: object(4)
memory usage: 12.2+ KB

In [8]:
df1.describe()

,Unnamed: 0,ESTADO DE SITUACIÓN FINANCIERA,Unnamed: 2,Unnamed: 3
count,2,384,378,376
unique,2,241,371,78
top,CUOTAS DE FONDOS COLECTIVOS,OTROS,CÓDIGO,0.00
freq,1,14,8,280

In [9]:
df1.dropna(axis=0, how='all', inplace=True)
print(df1.info())
print(df1.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 385 entries, 0 to 384
Data columns (total 4 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Unnamed: 0                      2 non-null      object
 1   ESTADO DE SITUACIÓN FINANCIERA  384 non-null    object
 2   Unnamed: 2                      378 non-null    object
 3   Unnamed: 3                      376 non-null    object
dtypes: object(4)
memory usage: 12.2+ KB
None
                         Unnamed: 0 ESTADO DE SITUACIÓN FINANCIERA Unnamed: 2  \
count                             2                            384        378
unique                            2                            241        371
top     CUOTAS DE FONDOS COLECTIVOS                          OTROS     CÓDIGO
freq                              1                             14          8

       Unnamed: 3
count         376
unique         78
top          0.00
freq          280

In [10]:
df1.drop(["Unnamed: 0","Unnamed: 2"], axis=1, inplace=True)
df1

          ESTADO DE SITUACIÓN FINANCIERA       Unnamed: 3
0                                 CUENTA  VALOR (En USD$)
1                                 ACTIVO    2051462083.01
2                       ACTIVO CORRIENTE     647041354.64
3    EFECTIVO Y EQUIVALENTES DE EFECTIVO      15474979.89
4                                   CAJA      15474979.89
..                                   ...              ...
380             RESULTADOS DEL EJERCICIO     155764232.67
381            GANANCIA NETA DEL PERIODO     155764232.67
382         (-) PÉRDIDA NETA DEL PERIODO             0.00
383       ESTADO DE SITUACIÓN FINANCIERA              NaN
384                                  NaN  VALOR (En USD$)

[385 rows x 2 columns]

In [11]:
#df = df[df["Si /PERIN FENDENCIA"].notna()]
#df1 = df1[~df1.apply( lambda row: "ESTADO DE SITUACIÓN FINANCIERA" in row.values, axis=1)]

df1 = df1[~df1.apply(lambda row: any(x in row.values for x in ["ESTADO DE SITUACIÓN FINANCIERA", "VALOR (En USD$)"]), axis=1)]

In [12]:
df1

               ESTADO DE SITUACIÓN FINANCIERA     Unnamed: 3
1                                      ACTIVO  2051462083.01
2                            ACTIVO CORRIENTE   647041354.64
3         EFECTIVO Y EQUIVALENTES DE EFECTIVO    15474979.89
4                                        CAJA    15474979.89
5          INSTITUCIONES FINANCIERAS PÚBLICAS           0.00
..                                        ...            ...
378                     RESERVA POR VALUACIÓN           0.00
379  SUPERÁVIT POR REVALUACIÓN DE INVERSIONES           0.00
380                  RESULTADOS DEL EJERCICIO   155764232.67
381                 GANANCIA NETA DEL PERIODO   155764232.67
382              (-) PÉRDIDA NETA DEL PERIODO           0.00

[370 rows x 2 columns]

In [13]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 370 entries, 1 to 382
Data columns (total 2 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   ESTADO DE SITUACIÓN FINANCIERA  370 non-null    object
 1   Unnamed: 3                      368 non-null    object
dtypes: object(2)
memory usage: 8.7+ KB

In [14]:
#df1.isna()
print( df1[df1.isna().any(axis=1)] )

                        ESTADO DE SITUACIÓN FINANCIERA Unnamed: 3
48                                         10102020102        NaN
353  PATRIMONIO NETO ATRIBUIBLE A LOS PROPIETARIOS ...        NaN

In [15]:
df1.rename(inplace=True, columns={"ESTADO DE SITUACIÓN FINANCIERA":"CUENTA", "Unnamed: 3":"VALOR EN USD"})

C:\Users\Usuario\AppData\Local\Temp\ipykernel_19840\3485047828.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.rename(inplace=True, columns={"ESTADO DE SITUACIÓN FINANCIERA":"CUENTA", "Unnamed: 3":"VALOR EN USD"})

In [16]:
print( df1[df1.isna().any(axis=1)] )

                                                CUENTA VALOR EN USD
48                                         10102020102          NaN
353  PATRIMONIO NETO ATRIBUIBLE A LOS PROPIETARIOS ...          NaN

In [17]:

df1.replace("10102020102", "CUOTAS DE FONDOS COLECTIVOS", inplace=True)

C:\Users\Usuario\AppData\Local\Temp\ipykernel_19840\1986241795.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.replace("10102020102", "CUOTAS DE FONDOS COLECTIVOS", inplace=True)

In [18]:
print( df1[df1.isna().any(axis=1)] )

                                                CUENTA VALOR EN USD
48                         CUOTAS DE FONDOS COLECTIVOS          NaN
353  PATRIMONIO NETO ATRIBUIBLE A LOS PROPIETARIOS ...          NaN

In [19]:
df1[df1["CUENTA"] == "CUOTAS DE FONDOS COLECTIVOS"].index

Index([11, 48], dtype='int64')

In [20]:
df1.loc[48].fillna(0, inplace=True)
df1.iloc[47]

C:\Users\Usuario\AppData\Local\Temp\ipykernel_19840\3262647507.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df1.loc[48].fillna(0, inplace=True)

CUENTA          CUOTAS DE FONDOS COLECTIVOS
VALOR EN USD                              0
Name: 48, dtype: object

In [21]:
df1.head(7)

                                CUENTA   VALOR EN USD
1                               ACTIVO  2051462083.01
2                     ACTIVO CORRIENTE   647041354.64
3  EFECTIVO Y EQUIVALENTES DE EFECTIVO    15474979.89
4                                 CAJA    15474979.89
5   INSTITUCIONES FINANCIERAS PÚBLICAS           0.00
6   INSTITUCIONES FINANCIERAS PRIVADAS           0.00
7                  ACTIVOS FINANCIEROS   373195710.26

In [22]:
texto = df1["CUENTA"].to_list()
valores_list = df1["VALOR EN USD"].to_list()

In [23]:
valores = np.array(valores_list).reshape(1,-1)
df2=pd.DataFrame(valores, columns=texto)

In [24]:
df2

,ACTIVO,ACTIVO CORRIENTE,EFECTIVO Y EQUIVALENTES DE EFECTIVO,CAJA,INSTITUCIONES FINANCIERAS PÚBLICAS,INSTITUCIONES FINANCIERAS PRIVADAS,ACTIVOS FINANCIEROS,ACTIVOS FINANCIEROS A VALOR RAZONABLE CON CAMBIOS EN RESULTADOS,RENTA VARIABLE,ACCIONES Y PARTICIPACIONES,...,GANANCIAS ACUMULADAS,(-) PÉRDIDAS ACUMULADAS,RESULTADOS ACUMULADOS PROVENIENTES DE LA ADOPCION POR PRIMERA VEZ DE LAS NIIF,RESERVA DE CAPITAL,RESERVA POR DONACIONES,RESERVA POR VALUACIÓN,SUPERÁVIT POR REVALUACIÓN DE INVERSIONES,RESULTADOS DEL EJERCICIO,GANANCIA NETA DEL PERIODO,(-) PÉRDIDA NETA DEL PERIODO
0,2051462083.01,647041354.64,15474979.89,15474979.89,0.00,0.00,373195710.26,232941089.23,232941089.23,0.00,...,1048181.02,-1494335.03,70117017.87,28664218.97,0.00,0.00,0.00,155764232.67,155764232.67,0.00

In [25]:
columns_names= ["REPRESENTANTE LEGAL","CONTADOR"]
pandas_options = {"names":columns_names}
contador = tabula.read_pdf(pdf, pages=8, area=(605,11,672,405), lattice=False, output_format="dataframe", encoding="latin-1", multiple_tables=True, pandas_options=pandas_options)
dafContador = contador[0]

In [26]:
dafContador

          REPRESENTANTE LEGAL                   CONTADOR
0  REPRESENTANTE(S) LEGAL(ES)                   CONTADOR
1    SAENZ MIÑO FERNANDO JOSE  bravo arellano jorge luis
2                  1704239654                 1708033251
3                         NaN                        NaN

In [27]:
print(len(dafContador))

4

In [28]:
with pd.ExcelWriter("../Outputs/Docs2LaFavorita/Economica_1/InfoEconomica1.xlsx", engine="xlsxwriter") as writer:
    dafHeader.to_excel(writer, sheet_name="Encabezado", index=False)
    dafContador.to_excel(writer, sheet_name="Encabezado", index=False, startrow=len(dafHeader)+2)
    df2.to_excel(writer, sheet_name="Datos", index=False)