In [7]:
import pandas as pd
import numpy as np
import tabula

ModuleNotFoundError: No module named 'tabula'

In [8]:
!pip install tabula

DEPRECATION: Loading egg at /home/richi/miniconda3/lib/python3.11/site-packages/streamlit_authenticator-0.3.1-py3.11.egg is deprecated. pip 24.3 will enforce this behaviour change. A possible replacement is to use pip for package installation.. Discussion can be found at https://github.com/pypa/pip/issues/12330
Requirement already satisfied: tabula in /home/richi/miniconda3/lib/python3.11/site-packages (1.0.5)
Requirement already satisfied: setuptools in /home/richi/miniconda3/lib/python3.11/site-packages (from tabula) (68.0.0)
Requirement already satisfied: numpy in /home/richi/miniconda3/lib/python3.11/site-packages (from tabula) (1.26.2)

In [1]:
pdf = "../Inputs/"

In [2]:
firstPage = tabula.read_pdf(pdf, pages=1, area=(99,20, 816, 573), lattice=True, output_format="dataframe",encoding='latin-1')
second = tabula.read_pdf(pdf, pages=2, area=(20,20,527,575), lattice=True, output_format="dataframe",encoding='latin-1')
Header = tabula.read_pdf(pdf, pages=1, area=(19,20,101,574), lattice=True, output_format="dataframe",encoding='latin-1')

NameError: name 'tabula' is not defined

In [4]:
daf1 = firstPage[0]
daf2 = second[0]
dafHeader = Header[0]

In [5]:
daf1

,ESTADO DE FLUJO EFECTIVO POR EL MÉTODO DIRECTO,Unnamed: 1,Unnamed: 2
0,CUENTA,CÓDIGO,SALDOS BALANCE (En USD$)
1,INCREMENTO NETO (DISMINUCIÓN) EN EL EFECTIVO Y...,95,-10638901.10
2,FLUJOS DE EFECTIVO PROCEDENTES DE (UTILIZADOS ...,9501,200701098.90
3,CLASES DE COBROS POR ACTIVIDADES DE OPERACIÓN,950101,2261595000.00
4,COBROS PROCEDENTES DE LAS VENTAS DE BIENES Y P...,95010101,2261595000.00
5,"COBROS PROCEDENTES DE REGALÍAS, CUOTAS, COMISI...",95010102,0.00
6,COBROS PROCEDENTES DE CONTRATOS MANTENIDOS CON...,95010103,0.00
7,"COBROS PROCEDENTES DE PRIMAS Y PRESTACIONES, A...",95010104,0.00
8,OTROS COBROS POR ACTIVIDADES DE OPERACIÓN,95010105,0.00
9,CLASES DE PAGOS POR ACTVIDADES DE OPERACIÓN,950102,-2054230901.10
10,PAGOS A PROVEEDORES POR EL SUMINISTRO DE BIENE...,95010201,-1849765584.50
11,PAGOS PROCEDENTES DE CONTRATOS MANTENIDOS PARA...,95010202,0.00
12,PAGOS A Y POR CUENTA DE LOS EMPLEADOS,95010203,-204465316.60
13,"PAGOS POR PRIMAS Y PRESTACIONES, ANUALIDADES Y...",95010204,0.00
14,OTROS PAGOS POR ACTIVIDADES DE OPERACIÓN,95010205,0.00
15,DIVIDENDOS PAGADOS,950103,0.00
16,DIVIDENDOS RECIBIDOS,950104,0.00
17,INTERESES PAGADOS,950105,-24701000.00
18,INTERESES RECIBIDOS,950106,21383000.00
19,IMPUESTOS A LAS GANANCIAS PAGADOS,950107,-12692000.00
20,OTRAS ENTRADAS (SALIDAS) DE EFECTIVO,950108,9347000.00
21,FLUJOS DE EFECTIVO PROCEDENTES DE (UTILIZADOS ...,9502,-119078000.00
22,EFECTIVO PROCEDENTES DE LA VENTA DE ACCIONES E...,950201,11462000.00
23,EFECTIVO UTILIZADO PARA ADQUIRIR ACCIONES EN S...,950202,-97172000.00
24,EFECTIVO UTILIZADO EN LA COMPRA DE PARTICIPACI...,950203,0.00
25,OTROS COBROS POR LA VENTA DE ACCIONES O INSTRU...,950204,0.00
26,OTROS PAGOS PARA ADQUIRIR ACCIONES O INSTRUMEN...,950205,0.00
27,OTROS COBROS POR LA VENTA DE PARTICIPACIONES E...,950206,0.00
28,OTROS PAGOS PARA ADQUIRIR PARTICIPACIONES EN N...,950207,0.00
29,IMPORTES PROCEDENTES POR LA VENTA DE PROPIEDAD...,950208,0.00
30,"ADQUISICIONES DE PROPIEDADES, PLANTA Y EQUIPO",950209,-136506000.00
31,IMPORTES PROCEDENTES DE VENTAS DE ACTIVOS INTA...,950210,0.00
32,COMPRAS DE ACTIVOS INTANGIBLES,950211,-9491000.00
33,IMPORTES PROCEDENTES DE OTROS ACTIVOS A LARGO ...,950212,0.00
34,COMPRAS DE OTROS ACTIVOS A LARGO PLAZO,950213,0.00
35,IMPORTES PROCEDENTES DE SUBVENCIONES DEL GOBIERNO,950214,0.00
36,ANTICIPOS DE EFECTIVO EFECTUADOS A TERCEROS,950215,-12485000.00
37,COBROS PROCEDENTES DEL REEMBOLSO DE ANTICIPOS ...,950216,0.00
38,"PAGOS DERIVADOS DE CONTRATOS DE FUTURO, A TÉRM...",950217,0.00
39,"COBROS PROCEDENTES DE CONTRATOS DE FUTURO, A T...",950218,0.00
40,DIVIDENDOS RECIBIDOS,950219,0.00
41,INTERESES RECIBIDOS,950220,15955000.00
42,OTRAS ENTRADAS (SALIDAS) DE EFECTIVO,950221,109159000.00
43,FLUJOS DE EFECTIVO PROCEDENTES DE (UTILIZADOS ...,9503,-92262000.00
44,APORTE EN EFECTIVO POR AUMENTO DE CAPITAL,950301,0.00
45,FINANCIAMIENTO POR EMISIÓN DE TÍTULOS VALORES,950302,0.00
46,PAGOS POR ADQUIRIR O RESCATAR LAS ACCIONES DE ...,950303,0.00
47,FINANCIACIÓN POR PRÉSTAMOS A LARGO PLAZO,950304,95000000.00
48,PAGOS DE PRÉSTAMOS,950305,-114766000.00
49,PAGOS DE PASIVOS POR ARRENDAMIENTOS FINANCIEROS,950306,-7215000.00

In [6]:
daf2

,ESTADO DE FLUJO EFECTIVO POR EL MÉTODO DIRECTO,Unnamed: 1,Unnamed: 2
0,CUENTA,CÓDIGO,SALDOS BALANCE (En USD$)
1,IMPORTES PROCEDENTES DE SUBVENCIONES DEL GOBIERNO,950307,0.00
2,DIVIDENDOS PAGADOS,950308,-50000000.00
3,INTERESES RECIBIDOS,950309,0.00
4,OTRAS ENTRADAS (SALIDAS) DE EFECTIVO,950310,-15281000.00
5,EFECTOS DE LA VARIACION EN LA TASA DE CAMBIO S...,9504,0.00
6,EFECTOS DE LA VARIACIÓN EN LA TASA DE CAMBIO S...,950401,0.00
7,INCREMENTO (DISMINUCIÓN) NETO DE EFECTIVO Y EQ...,9505,-10638901.10
8,EFECTIVO Y EQUIVALENTES AL EFECTIVO AL PRINCIP...,9506,17922212.97
9,EFECTIVO Y EQUIVALENTES AL EFECTIVO AL FINAL D...,9507,7283311.87
10,GANANCIA (PÉRDIDA) ANTES DE 15% A TRABAJADORES...,96,232525064.51
11,AJUSTE POR PARTIDAS DISTINTAS AL EFECTIVO,97,4612034.39
12,AJUSTES POR GASTO DE DEPRECIACIÓN Y AMORTIZACIÓN,9701,64464736.31
13,AJUSTES POR GASTOS POR DETERIORO (REVERSIONES ...,9702,0.00
14,PÉRDIDA (GANANCIA) DE MONEDA EXTRANJERA NO REA...,9703,0.00
15,PÉRDIDAS EN CAMBIO DE MONEDA EXTRANJERA,9704,0.00
16,AJUSTES POR GASTOS EN PROVISIONES,9705,20098000.00
17,AJUSTE POR PARTICIPACIONES NO CONTROLADORAS,9706,0.00
18,AJUSTE POR PAGOS BASADOS EN ACCIONES,9707,0.00
19,AJUSTES POR GANANCIAS (PÉRDIDAS) EN VALOR RAZO...,9708,0.00
20,AJUSTES POR GASTO POR IMPUESTO A LA RENTA,9709,-12692800.82
21,AJUSTES POR GASTO POR PARTICIPACIÓN TRABAJADORES,9710,-32835901.10
22,OTROS AJUSTES POR PARTIDAS DISTINTAS AL EFECTIVO,9711,-34422000.00
23,CAMBIOS EN ACTIVOS Y PASIVOS,98,-36436000.00
24,(INCREMENTO) DISMINUCIÓN EN CUENTAS POR COBRAR...,9801,-24512000.00
25,(INCREMENTO) DISMINUCIÓN EN OTRAS CUENTAS POR ...,9802,-2406000.00
26,(INCREMENTO) DISMINUCIÓN EN ANTICIPOS DE PROVE...,9803,3892000.00
27,(INCREMENTO) DISMINUCIÓN EN INVENTARIOS,9804,-50551000.00
28,(INCREMENTO) DISMINUCIÓN EN OTROS ACTIVOS,9805,-41742000.00
29,INCREMENTO (DISMINUCIÓN) EN CUENTAS POR PAGAR...,9806,33284000.00
30,INCREMENTO (DISMINUCIÓN) EN OTRAS CUENTAS POR...,9807,1354000.00
31,INCREMENTO (DISMINUCIÓN) EN BENEFICIOS EMPLEADOS,9808,-12030000.00
32,INCREMENTO (DISMINUCIÓN) EN ANTICIPOS DE CLIE...,9809,66933000.00
33,INCREMENTO (DISMINUCIÓN) EN OTROS PASIVOS,9810,-10658000.00
34,FLUJOS DE EFECTIVO NETOS PROCEDENTES DE (UTILI...,9820,200701098.90

In [7]:
dafHeader

,Unnamed: 0,RAZÓN SOCIAL,CORPORACION FAVORITA C.A.
0,DIRECCIÓN,AV.ELOY ALFARO Y AVIGIRAS No. N52-468 BARRIO:,NaN
1,EXPEDIENTE,384,NaN
2,RUC,1790016919001,NaN
3,AÑO,2022,NaN
4,FORMULARIO,SCV.NIIF.384.2022.1,NaN

In [8]:
daf1.rename(inplace=True, columns={"ESTADO DE FLUJO EFECTIVO POR EL MÉTODO DIRECTO":"CUENTA",
                                "Unnamed: 1":"CODS", "Unnamed: 2":"SALDOS BALANCE EN USD"})

daf1.drop(["CODS"], axis=1, inplace=True)
daf1.drop([0], inplace=True)
daf1.head(8)

                                              CUENTA SALDOS BALANCE EN USD
1  INCREMENTO NETO (DISMINUCIÓN) EN EL EFECTIVO Y...          -10638901.10
2  FLUJOS DE EFECTIVO PROCEDENTES DE (UTILIZADOS ...          200701098.90
3      CLASES DE COBROS POR ACTIVIDADES DE OPERACIÓN         2261595000.00
4  COBROS PROCEDENTES DE LAS VENTAS DE BIENES Y P...         2261595000.00
5  COBROS PROCEDENTES DE REGALÍAS, CUOTAS, COMISI...                  0.00
6  COBROS PROCEDENTES DE CONTRATOS MANTENIDOS CON...                  0.00
7  COBROS PROCEDENTES DE PRIMAS Y PRESTACIONES, A...                  0.00
8          OTROS COBROS POR ACTIVIDADES DE OPERACIÓN                  0.00

In [9]:
daf2.head(7)

,ESTADO DE FLUJO EFECTIVO POR EL MÉTODO DIRECTO,Unnamed: 1,Unnamed: 2
0,CUENTA,CÓDIGO,SALDOS BALANCE (En USD$)
1,IMPORTES PROCEDENTES DE SUBVENCIONES DEL GOBIERNO,950307,0.00
2,DIVIDENDOS PAGADOS,950308,-50000000.00
3,INTERESES RECIBIDOS,950309,0.00
4,OTRAS ENTRADAS (SALIDAS) DE EFECTIVO,950310,-15281000.00
5,EFECTOS DE LA VARIACION EN LA TASA DE CAMBIO S...,9504,0.00
6,EFECTOS DE LA VARIACIÓN EN LA TASA DE CAMBIO S...,950401,0.00

In [10]:
daf2.rename(inplace=True, columns={"ESTADO DE FLUJO EFECTIVO POR EL MÉTODO DIRECTO":"CUENTA",
                                "Unnamed: 1":"CODS", "Unnamed: 2":"SALDOS BALANCE EN USD"})

daf2.drop(["CODS"], axis=1, inplace=True)
daf2.drop([0],inplace=True)
daf2.head(8)

                                              CUENTA SALDOS BALANCE EN USD
1  IMPORTES PROCEDENTES DE SUBVENCIONES DEL GOBIERNO                  0.00
2                                 DIVIDENDOS PAGADOS          -50000000.00
3                                INTERESES RECIBIDOS                  0.00
4               OTRAS ENTRADAS (SALIDAS) DE EFECTIVO          -15281000.00
5  EFECTOS DE LA VARIACION EN LA TASA DE CAMBIO S...                  0.00
6  EFECTOS DE LA VARIACIÓN EN LA TASA DE CAMBIO S...                  0.00
7  INCREMENTO (DISMINUCIÓN) NETO DE EFECTIVO Y EQ...          -10638901.10
8  EFECTIVO Y EQUIVALENTES AL EFECTIVO AL PRINCIP...           17922212.97

In [11]:
print(daf1.info())
print(daf2.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49 entries, 1 to 49
Data columns (total 2 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   CUENTA                 49 non-null     object
 1   SALDOS BALANCE EN USD  49 non-null     object
dtypes: object(2)
memory usage: 916.0+ bytes
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34 entries, 1 to 34
Data columns (total 2 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   CUENTA                 34 non-null     object
 1   SALDOS BALANCE EN USD  34 non-null     object
dtypes: object(2)
memory usage: 676.0+ bytes
None

In [12]:
dafData = pd.concat([daf1, daf2])

In [13]:
print(dafData)

                                               CUENTA SALDOS BALANCE EN USD
1   INCREMENTO NETO (DISMINUCIÓN) EN EL EFECTIVO Y...          -10638901.10
2   FLUJOS DE EFECTIVO PROCEDENTES DE (UTILIZADOS ...          200701098.90
3       CLASES DE COBROS POR ACTIVIDADES DE OPERACIÓN         2261595000.00
4   COBROS PROCEDENTES DE LAS VENTAS DE BIENES Y P...         2261595000.00
5   COBROS PROCEDENTES DE REGALÍAS, CUOTAS, COMISI...                  0.00
..                                                ...                   ...
30  INCREMENTO  (DISMINUCIÓN) EN OTRAS CUENTAS POR...            1354000.00
31  INCREMENTO  (DISMINUCIÓN) EN BENEFICIOS EMPLEADOS          -12030000.00
32  INCREMENTO  (DISMINUCIÓN) EN ANTICIPOS DE CLIE...           66933000.00
33         INCREMENTO  (DISMINUCIÓN) EN OTROS PASIVOS          -10658000.00
34  FLUJOS DE EFECTIVO NETOS PROCEDENTES DE (UTILI...          200701098.90

[83 rows x 2 columns]

In [14]:
texto = dafData["CUENTA"].to_list()
valores = dafData["SALDOS BALANCE EN USD"].to_list()

In [15]:
valores = np.array(valores).reshape(1,-1)
df2 = pd.DataFrame(valores, columns=texto)

In [16]:
df2

,"INCREMENTO NETO (DISMINUCIÓN) EN EL EFECTIVO Y EQUIVALENTES AL EFECTIVO, ANTES DEL EFECTO DE LOS CAMBIOS",FLUJOS DE EFECTIVO PROCEDENTES DE (UTILIZADOS EN) ACTIVIDADES DE OPERACIÓN,CLASES DE COBROS POR ACTIVIDADES DE OPERACIÓN,COBROS PROCEDENTES DE LAS VENTAS DE BIENES Y PRESTACIÓN DE SERVICIOS,"COBROS PROCEDENTES DE REGALÍAS, CUOTAS, COMISIONES Y OTROS INGRESOS DE ACTIVIDADES ORDINARIAS",COBROS PROCEDENTES DE CONTRATOS MANTENIDOS CON PROPÓSITOS DE INTERMEDIACIÓN O PARA NEGOCIAR,"COBROS PROCEDENTES DE PRIMAS Y PRESTACIONES, ANUALIDADES Y OTROS BENEFICIOS DE PÓLIZAS SUSCRITAS",OTROS COBROS POR ACTIVIDADES DE OPERACIÓN,CLASES DE PAGOS POR ACTVIDADES DE OPERACIÓN,PAGOS A PROVEEDORES POR EL SUMINISTRO DE BIENES Y SERVICIOS,...,(INCREMENTO) DISMINUCIÓN EN OTRAS CUENTAS POR COBRAR,(INCREMENTO) DISMINUCIÓN EN ANTICIPOS DE PROVEEDORES,(INCREMENTO) DISMINUCIÓN EN INVENTARIOS,(INCREMENTO) DISMINUCIÓN EN OTROS ACTIVOS,INCREMENTO (DISMINUCIÓN) EN CUENTAS POR PAGAR COMERCIALES,INCREMENTO (DISMINUCIÓN) EN OTRAS CUENTAS POR PAGAR,INCREMENTO (DISMINUCIÓN) EN BENEFICIOS EMPLEADOS,INCREMENTO (DISMINUCIÓN) EN ANTICIPOS DE CLIENTES,INCREMENTO (DISMINUCIÓN) EN OTROS PASIVOS,FLUJOS DE EFECTIVO NETOS PROCEDENTES DE (UTILIZADOS EN) ACTIVIDADES DE OPERACIÓN
0,-10638901.10,200701098.90,2261595000.00,2261595000.00,0.00,0.00,0.00,0.00,-2054230901.10,-1849765584.50,...,-2406000.00,3892000.00,-50551000.00,-41742000.00,33284000.00,1354000.00,-12030000.00,66933000.00,-10658000.00,200701098.90

In [17]:
dafHeader

,Unnamed: 0,RAZÓN SOCIAL,CORPORACION FAVORITA C.A.
0,DIRECCIÓN,AV.ELOY ALFARO Y AVIGIRAS No. N52-468 BARRIO:,NaN
1,EXPEDIENTE,384,NaN
2,RUC,1790016919001,NaN
3,AÑO,2022,NaN
4,FORMULARIO,SCV.NIIF.384.2022.1,NaN

In [18]:
dafHeader.rename(inplace=True, columns={"Unnamed: 0":"RAZÓN SOCIAL",
                                "RAZÓN SOCIAL":"CORPORACION FAVORITA C.A.", "CORPORACION FAVORITA C.A.":"NULLISHCOMLUN"})

dafHeader.drop(["NULLISHCOMLUN"], axis=1, inplace=True)
dafHeader

  RAZÓN SOCIAL                      CORPORACION FAVORITA C.A.
0    DIRECCIÓN  AV.ELOY ALFARO Y AVIGIRAS No. N52-468 BARRIO:
1   EXPEDIENTE                                            384
2          RUC                                  1790016919001
3          AÑO                                           2022
4   FORMULARIO                            SCV.NIIF.384.2022.1

In [19]:
columns_names= ["REPRESENTANTE LEGAL","CONTADOR"]
pandas_options = {"names":columns_names}
contador = tabula.read_pdf(pdf, pages=2, area=(530,19,592,424), lattice=False, output_format="dataframe", encoding="latin-1", multiple_tables=True, pandas_options=pandas_options)
dafContador = contador[0]

In [20]:
dafContador

          REPRESENTANTE LEGAL                   CONTADOR
0  REPRESENTANTE(S) LEGAL(ES)                   CONTADOR
1    SAENZ MIÑO FERNANDO JOSE  BRAVO ARELLANO JORGE LUIS
2                  1704239654              1708033251001
3                         NaN                     038674

In [22]:
print(len(dafContador))

4

In [23]:
with pd.ExcelWriter("../Outputs/Docs2LaFavorita/Flujo_efectivo/InfoFlujoEfectivo.xlsx", engine="xlsxwriter") as writer:
    dafHeader.to_excel(writer, sheet_name="Encabezado", index=False)
    dafContador.to_excel(writer, sheet_name="Encabezado", index=False, startrow=len(dafHeader)+2)
    df2.to_excel(writer, sheet_name="Datos", index=False)