In [1]:
import pandas as pd
import numpy as np
import tabula

In [2]:
#al ser la primera vez unificando los archivos, el pdf original será el primero,
#luego sobre el se irán acumulando la demás información

In [3]:
pdfOriginal = "../Inputs/DocEconomica_384_3_1_1_2022_12_31_00_00_00_000.pdf"
excel_output = "../Outputs/estados_situacion_financiera.xlsx"

 Ahora se vuelve a leer el archivo anterior
 Se procede a añadir los datos del nuevo pdf

In [4]:
with pd.ExcelFile(excel_output) as xls:
    # Lee cada hoja por separado
    dfAcumulado_encabezado = pd.read_excel(xls, 'Encabezado', dtype="object")
    dfAcumulado_datps = pd.read_excel(xls, 'Datos', dtype="object")

In [5]:
dfAcumulado_datps

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 368,Unnamed: 369,Unnamed: 370,Unnamed: 371,Unnamed: 372,Unnamed: 373,Unnamed: 374,Unnamed: 375,Unnamed: 376,Unnamed: 377
0,EXPEDIENTE,AÑO,ACTIVO,ACTIVO CORRIENTE,EFECTIVO Y EQUIVALENTES DE EFECTIVO,CAJA,INSTITUCIONES FINANCIERAS PÚBLICAS,INSTITUCIONES FINANCIERAS PRIVADAS,ACTIVOS FINANCIEROS,ACTIVOS FINANCIEROS A VALOR RAZONABLE CON CAMB...,...,(-) PÉRDIDAS ACUMULADAS,RESULTADOS ACUMULADOS PROVENIENTES DE LA ADOPC...,RESERVA DE CAPITAL,RESERVA POR DONACIONES,RESERVA POR VALUACIÓN,SUPERÁVIT POR REVALUACIÓN DE INVERSIONES,RESULTADOS DEL EJERCICIO,GANANCIA NETA DEL PERIODO,(-) PÉRDIDA NETA DEL PERIODO,PARTICIPACIÓN CONTROLADORA
1,384,2022,2480403867.05,701635273.03,7283311.87,1342366.55,0.0,5940945.32,390920239.29,220974204.08,...,-9793179.94,70117017.87,28664218.97,0.0,0.0,0.0,152679114.47,152679114.47,0.0,0.0

In [6]:
coords = {
    "1":(126.82, 20.08, 814.79, 574.18),
    "2":(36.08, 20.76, 822.24, 575.60),
    "3":(36.08, 20.76, 822.24, 575.60),
    "4":(36.08, 20.76, 822.24, 575.60),
    "5":(36.08, 20.76, 822.24, 575.60),
    "6":(36.08, 20.76, 822.24, 575.60),
    "7":(36.08, 20.76, 822.24, 575.60)
}

In [7]:
dfData = pd.DataFrame()

In [8]:
length = len(coords)
for dfIndex in range(length):
    dfPdf = tabula.read_pdf(pdfOriginal, pages=(dfIndex+1), area=coords[str(dfIndex+1)], lattice=True, output_format="dataframe")
    dfData = pd.concat([dfData, dfPdf[0]])

Error importing jpype dependencies. Fallback to subprocess.
No module named 'jpype'

In [9]:
dfData
dfData = dfData.astype("object")

In [10]:
dfData.iloc[0:59]

,CUENTA,CÓDIGO,VALOR (En USD$)
0,ACTIVO,1,2480403867.05
1,ACTIVO CORRIENTE,101,701635273.03
2,EFECTIVO Y EQUIVALENTES DE EFECTIVO,10101,7283311.87
3,CAJA,1010101,1342366.55
4,INSTITUCIONES FINANCIERAS PÚBLICAS,1010102,0.0
5,INSTITUCIONES FINANCIERAS PRIVADAS,1010103,5940945.32
6,ACTIVOS FINANCIEROS,10102,390920239.29
7,ACTIVOS FINANCIEROS A VALOR RAZONABLE CON CAMB...,1010201,220974204.08
8,RENTA VARIABLE,101020101,0.0
9,ACCIONES Y PARTICIPACIONES,10102010101,0.0
10,CUOTAS DE FONDOS COLECTIVOS,10102010102,0.0
11,VALORES DE TITULARIZACIÓN DE PARTICIPACIÓN,10102010103,0.0
12,UNIDADES DE PARTICIPACIÓN,10102010104,0.0
13,INVERSIONES EN EL EXTERIOR,10102010105,0.0
14,OTROS,10102010106,0.0
15,RENTA FIJA,101020102,220974204.08
16,AVALES,10102010201,0.0
17,BONOS DEL ESTADO,10102010202,0.0
18,BONOS DE PRENDA,10102010203,0.0
19,CÉDULAS HIPOTECARIAS,10102010204,0.0
20,CERTIFICADOS FINANCIEROS,10102010205,0.0
21,CERTIFICADOS DE INVERSIÓN,10102010206,196198114.0
22,CERTIFICADOS DE TESORERÍA,10102010207,0.0
23,CERTIFICADOS DE DEPÓSITO,10102010208,0.0
24,CUPONES,10102010209,0.0
25,DEPÓSITOS A PLAZO,10102010210,0.0
26,LETRAS DE CAMBIO,10102010211,0.0
27,NOTAS DE CRÉDITO,10102010212,0.0
28,OBLIGACIONES,10102010213,0.0
29,FACTURAS COMERCIALES NEGOCIABLES,10102010214,0.0
30,OVERNIGHTS,10102010215,0.0
31,OBLIGACIONES CONVERTIBLES EN ACCIONES,10102010216,0.0
32,PAPEL COMERCIAL,10102010217,0.0
33,PAGARÉS,10102010218,0.0
34,PÓLIZAS DE ACUMULACIÓN,10102010219,0.0
35,TÍTULOS DEL BANCO CENTRAL,10102010220,0.0
36,VALORES DE TITULARIZACIÓN,10102010221,0.0
37,INVERSIONES EN EL EXTERIOR,10102010222,20000000.0
38,OTROS,10102010223,4776090.08
39,DERIVADOS,101020103,0.0
40,FORWARD,10102010301,0.0
41,FUTUROS,10102010302,0.0
42,OPCIONES,10102010303,0.0
43,OTROS,10102010304,0.0
44,ACTIVOS FINANCIEROS A VALOR RAZONABLE CON CAMB...,1010202,0.0
45,RENTA VARIABLE,101020201,0.0
46,ACCIONES Y PARTICIPACIONES,10102020101,0.0
47,CUOTAS DE FONDOS COLECTIVOS,10102020102,0.0
0,UNIDADES DE PARTICIPACIÓN,10102020103,0.0
1,VALORES DE TITULARIZACIÓN DE PARTICIPACIÓN,10102020104,0.0
2,INVERSIONES EN EL EXTERIOR,10102020105,0.0
3,OTROS,10102020106,0.0
4,RENTA FIJA,101020202,0.0
5,AVALES,10102020201,0.0
6,BONOS DEL ESTADO,10102020202,0.0
7,BONOS DE PRENDA,10102020203,0.0
8,CÉDULAS HIPOTECARIAS,10102020204,0.0
9,CERTIFICADOS FINANCIEROS,10102020205,0.0
10,CERTIFICADOS DE INVERSIÓN,10102020206,0.0

In [11]:
dfData.tail(20)

                                               CUENTA CÓDIGO VALOR (En USD$)
33                                           RESERVAS    304    587306962.22
34                                      RESERVA LEGAL  30401    184137672.83
35                 RESERVAS FACULTATIVA Y ESTATUTARIA  30402    403169289.39
36                        OTROS RESULTADOS INTEGRALES    305             0.0
37  SUPERAVIT DE ACTIVOS FINANCIEROS A VALOR RAZON...  30501             0.0
38  SUPERAVIT POR REVALUACIÓN DE PROPIEDADES, PLAN...  30502             0.0
39   SUPERAVIT POR REVALUACION DE ACTIVOS INTANGIBLES  30503             0.0
40                    OTROS SUPERAVIT POR REVALUACION  30504             0.0
41                              RESULTADOS ACUMULADOS    306     90036237.91
42                               GANANCIAS ACUMULADAS  30601      1048181.01
43                            (-) PÉRDIDAS ACUMULADAS  30602     -9793179.94
44  RESULTADOS ACUMULADOS PROVENIENTES DE LA ADOPC...  30603     70117017.87
45                                 RESERVA DE CAPITAL  30604     28664218.97
46                             RESERVA POR DONACIONES  30605             0.0
47                              RESERVA POR VALUACIÓN  30606             0.0
48           SUPERÁVIT POR REVALUACIÓN DE INVERSIONES  30607             0.0
49                           RESULTADOS DEL EJERCICIO    307    152679114.47
50                          GANANCIA NETA DEL PERIODO  30701    152679114.47
51                       (-) PÉRDIDA NETA DEL PERIODO  30702             0.0
52                         PARTICIPACIÓN CONTROLADORA     31             0.0

In [12]:
dfData.iloc[59:110]

,CUENTA,CÓDIGO,VALOR (En USD$)
11,CERTIFICADOS DE TESORERÍA,10102020207,0.0
12,CERTIFICADOS DE DEPÓSITO,10102020208,0.0
13,CUPONES,10102020209,0.0
14,DEPÓSITOS A PLAZO,10102020210,0.0
15,LETRAS DE CAMBIO,10102020211,0.0
16,NOTAS DE CRÉDITO,10102020212,0.0
17,OBLIGACIONES,10102020213,0.0
18,FACTURAS COMERCIALES NEGOCIABLES,10102020214,0.0
19,OVERNIGHTS,10102020215,0.0
20,OBLIGACIONES CONVERTIBLES EN ACCIONES,10102020216,0.0
21,PAPEL COMERCIAL,10102020217,0.0
22,PAGARÉS,10102020218,0.0
23,PÓLIZAS DE ACUMULACIÓN,10102020219,0.0
24,TÍTULOS DEL BANCO CENTRAL,10102020220,0.0
25,VALORES DE TITULARIZACIÓN,10102020221,0.0
26,INVERSIONES EN EL EXTERIOR,10102020222,0.0
27,OTROS,10102020223,0.0
28,ACTIVOS FINANCIEROS AL COSTO AMORTIZADO,1010203,0.0
29,RENTA FIJA,101020302,0.0
30,AVALES,10102030201,0.0
31,BONOS DEL ESTADO,10102030202,0.0
32,BONOS DE PRENDA,10102030203,0.0
33,CÉDULAS HIPOTECARIAS,10102030204,0.0
34,CERTIFICADOS FINANCIEROS,10102030205,0.0
35,CERTIFICADOS DE INVERSIÓN,10102030206,0.0
36,CERTIFICADOS DE TESORERÍA,10102030207,0.0
37,CERTIFICADOS DE DEPÓSITO,10102030208,0.0
38,CUPONES,10102030209,0.0
39,DEPÓSITOS A PLAZO,10102030210,0.0
40,LETRAS DE CAMBIO,10102030211,0.0
41,NOTAS DE CRÉDITO,10102030212,0.0
42,OBLIGACIONES,10102030213,0.0
43,FACTURAS COMERCIALES NEGOCIABLES,10102030214,0.0
44,OVERNIGHTS,10102030215,0.0
45,OBLIGACIONES CONVERTIBLES EN ACCIONES,10102030216,0.0
46,PAPEL COMERCIAL,10102030217,0.0
47,PAGARÉS,10102030218,0.0
48,PÓLIZAS DE ACUMULACIÓN,10102030219,0.0
49,TÍTULOS DEL BANCO CENTRAL,10102030220,0.0
50,VALORES DE TITULARIZACIÓN,10102030221,0.0
51,INVERSIONES EN EL EXTERIOR,10102030222,0.0
52,OTROS,10102030223,0.0
53,PROVISIÓN POR DETERIORO DE ACTIVOS FINANCIEROS,1010204,0.0
54,ACTIVOS FINANCIEROS A VALOR RAZONABLE CON CAMB...,101020401,0.0
0,ACTIVOS FINANCIEROS AL COSTO AMORTIZADO,101020402,0.0
1,ACTIVOS FINANCIEROS A VALOR RAZONABLE CON CAMB...,101020403,0.0
2,DEUDORES COMERCIALES Y OTRAS CUENTAS POR COBRA...,1010205,147967740.42
3,DE ACTIVIDADES ORDINARIAS QUE GENEREN INTERESES,101020501,0.0
4,CUENTAS Y DOCUMENTOS A COBRAR A CLIENTES,10102050101,0.0
5,CUENTAS Y DOCUMENTOS A COBRAR A TERCEROS,10102050102,0.0
6,DE ACTIVIDADES ORDINARIAS QUE NO GENEREN INTER...,101020502,147967740.42

In [13]:
dfData.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 376 entries, 0 to 52
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CUENTA           376 non-null    object
 1   CÓDIGO           376 non-null    object
 2   VALOR (En USD$)  376 non-null    object
dtypes: object(3)
memory usage: 11.8+ KB

In [14]:
dfData[dfData["VALOR (En USD$)"].isna()]

Empty DataFrame
Columns: [CUENTA, CÓDIGO, VALOR (En USD$)]
Index: []

In [52]:
for col in dfData.columns:
    print(col)

CUENTA
VALOR (En USD$)

In [15]:
indexCodCuenValor = dfData[ (dfData["CUENTA"]=="CUENTA")
                        &
                        (dfData["CÓDIGO"]=="CÓDIGO") & (dfData["VALOR (En USD$)"]=="VALOR (En USD$)")].index

In [16]:
indexCodCuenValor

Int64Index([], dtype='int64')

In [17]:
dfData.drop(indexCodCuenValor, inplace=True)
dfData.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 376 entries, 0 to 52
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CUENTA           376 non-null    object
 1   CÓDIGO           376 non-null    object
 2   VALOR (En USD$)  376 non-null    object
dtypes: object(3)
memory usage: 11.8+ KB

In [18]:
dfData.iloc[0:59]

,CUENTA,CÓDIGO,VALOR (En USD$)
0,ACTIVO,1,2480403867.05
1,ACTIVO CORRIENTE,101,701635273.03
2,EFECTIVO Y EQUIVALENTES DE EFECTIVO,10101,7283311.87
3,CAJA,1010101,1342366.55
4,INSTITUCIONES FINANCIERAS PÚBLICAS,1010102,0.0
5,INSTITUCIONES FINANCIERAS PRIVADAS,1010103,5940945.32
6,ACTIVOS FINANCIEROS,10102,390920239.29
7,ACTIVOS FINANCIEROS A VALOR RAZONABLE CON CAMB...,1010201,220974204.08
8,RENTA VARIABLE,101020101,0.0
9,ACCIONES Y PARTICIPACIONES,10102010101,0.0
10,CUOTAS DE FONDOS COLECTIVOS,10102010102,0.0
11,VALORES DE TITULARIZACIÓN DE PARTICIPACIÓN,10102010103,0.0
12,UNIDADES DE PARTICIPACIÓN,10102010104,0.0
13,INVERSIONES EN EL EXTERIOR,10102010105,0.0
14,OTROS,10102010106,0.0
15,RENTA FIJA,101020102,220974204.08
16,AVALES,10102010201,0.0
17,BONOS DEL ESTADO,10102010202,0.0
18,BONOS DE PRENDA,10102010203,0.0
19,CÉDULAS HIPOTECARIAS,10102010204,0.0
20,CERTIFICADOS FINANCIEROS,10102010205,0.0
21,CERTIFICADOS DE INVERSIÓN,10102010206,196198114.0
22,CERTIFICADOS DE TESORERÍA,10102010207,0.0
23,CERTIFICADOS DE DEPÓSITO,10102010208,0.0
24,CUPONES,10102010209,0.0
25,DEPÓSITOS A PLAZO,10102010210,0.0
26,LETRAS DE CAMBIO,10102010211,0.0
27,NOTAS DE CRÉDITO,10102010212,0.0
28,OBLIGACIONES,10102010213,0.0
29,FACTURAS COMERCIALES NEGOCIABLES,10102010214,0.0
30,OVERNIGHTS,10102010215,0.0
31,OBLIGACIONES CONVERTIBLES EN ACCIONES,10102010216,0.0
32,PAPEL COMERCIAL,10102010217,0.0
33,PAGARÉS,10102010218,0.0
34,PÓLIZAS DE ACUMULACIÓN,10102010219,0.0
35,TÍTULOS DEL BANCO CENTRAL,10102010220,0.0
36,VALORES DE TITULARIZACIÓN,10102010221,0.0
37,INVERSIONES EN EL EXTERIOR,10102010222,20000000.0
38,OTROS,10102010223,4776090.08
39,DERIVADOS,101020103,0.0
40,FORWARD,10102010301,0.0
41,FUTUROS,10102010302,0.0
42,OPCIONES,10102010303,0.0
43,OTROS,10102010304,0.0
44,ACTIVOS FINANCIEROS A VALOR RAZONABLE CON CAMB...,1010202,0.0
45,RENTA VARIABLE,101020201,0.0
46,ACCIONES Y PARTICIPACIONES,10102020101,0.0
47,CUOTAS DE FONDOS COLECTIVOS,10102020102,0.0
0,UNIDADES DE PARTICIPACIÓN,10102020103,0.0
1,VALORES DE TITULARIZACIÓN DE PARTICIPACIÓN,10102020104,0.0
2,INVERSIONES EN EL EXTERIOR,10102020105,0.0
3,OTROS,10102020106,0.0
4,RENTA FIJA,101020202,0.0
5,AVALES,10102020201,0.0
6,BONOS DEL ESTADO,10102020202,0.0
7,BONOS DE PRENDA,10102020203,0.0
8,CÉDULAS HIPOTECARIAS,10102020204,0.0
9,CERTIFICADOS FINANCIEROS,10102020205,0.0
10,CERTIFICADOS DE INVERSIÓN,10102020206,0.0

In [19]:
dfData.drop(["CÓDIGO"], axis=1, inplace=True)

In [20]:
dfData.head(10)

                                              CUENTA VALOR (En USD$)
0                                             ACTIVO   2480403867.05
1                                   ACTIVO CORRIENTE    701635273.03
2                EFECTIVO Y EQUIVALENTES DE EFECTIVO      7283311.87
3                                               CAJA      1342366.55
4                 INSTITUCIONES FINANCIERAS PÚBLICAS             0.0
5                 INSTITUCIONES FINANCIERAS PRIVADAS      5940945.32
6                                ACTIVOS FINANCIEROS    390920239.29
7  ACTIVOS FINANCIEROS A VALOR RAZONABLE CON CAMB...    220974204.08
8                                     RENTA VARIABLE             0.0
9                         ACCIONES Y PARTICIPACIONES             0.0

In [21]:
texto = dfData["CUENTA"].to_list()
valores_list = dfData["VALOR (En USD$)"].to_list()

In [22]:
valores = np.array(valores_list).reshape(1,-1)
datosFrame = pd.DataFrame(valores, columns=texto)

In [23]:
datosFrame = datosFrame.astype("object")
datosFrame

,ACTIVO,ACTIVO CORRIENTE,EFECTIVO Y EQUIVALENTES DE EFECTIVO,CAJA,INSTITUCIONES FINANCIERAS PÚBLICAS,INSTITUCIONES FINANCIERAS PRIVADAS,ACTIVOS FINANCIEROS,ACTIVOS FINANCIEROS A VALOR RAZONABLE CON CAMBIOS EN RESULTADOS,RENTA VARIABLE,ACCIONES Y PARTICIPACIONES,...,(-) PÉRDIDAS ACUMULADAS,RESULTADOS ACUMULADOS PROVENIENTES DE LA ADOPCION POR PRIMERA VEZ DE LAS NIIF,RESERVA DE CAPITAL,RESERVA POR DONACIONES,RESERVA POR VALUACIÓN,SUPERÁVIT POR REVALUACIÓN DE INVERSIONES,RESULTADOS DEL EJERCICIO,GANANCIA NETA DEL PERIODO,(-) PÉRDIDA NETA DEL PERIODO,PARTICIPACIÓN CONTROLADORA
0,2480403867.05,701635273.03,7283311.87,1342366.55,0.0,5940945.32,390920239.29,220974204.08,0.0,0.0,...,-9793179.94,70117017.87,28664218.97,0.0,0.0,0.0,152679114.47,152679114.47,0.0,0.0

In [24]:
Header = tabula.read_pdf( pdfOriginal, pages=1, area=(21.20, 22.24, 115.71, 572.62), lattice=True, output_format="dataframe")
dafHeader = Header[0]
dafHeader

,RAZÓN SOCIAL,CORPORACION FAVORITA C.A.
0,DIRECCIÓN,AV.ELOY ALFARO Y AVIGIRAS No. N52-468 BARRIO:
1,EXPEDIENTE,384
2,RUC,1790016919001
3,AÑO,2022
4,FORMULARIO,SCV.NIIF.384.2022.1
5,FECHA DE LA JUNTA QUE APROBÓ LOS ESTADOS FINAN...,"Apr 26, 20"

In [25]:
columns_names = ["REPRESENTANTE LEGAL","CONTADOR"]
pandas_options = {"names":columns_names}
contador = tabula.read_pdf(pdfOriginal, pages=8, area=(50.82, 20.08, 130.79, 574.18), lattice=False, output_format="dataframe", multiple_tables=True, pandas_options=pandas_options)
contador

[          REPRESENTANTE LEGAL                   CONTADOR
 0  REPRESENTANTE(S) LEGAL(ES)                   CONTADOR
 1                         NaN  BRAVO ARELLANO JORGE LUIS
 2    SAENZ MIÑO FERNANDO JOSE                        NaN
 3                  1704239654              1708033251001
 4                         NaN                     038674]

In [26]:
dafContador = contador[0]
dafContador

          REPRESENTANTE LEGAL                   CONTADOR
0  REPRESENTANTE(S) LEGAL(ES)                   CONTADOR
1                         NaN  BRAVO ARELLANO JORGE LUIS
2    SAENZ MIÑO FERNANDO JOSE                        NaN
3                  1704239654              1708033251001
4                         NaN                     038674

In [27]:
dafContador.fillna("", inplace=True)
dafContador

          REPRESENTANTE LEGAL                   CONTADOR
0  REPRESENTANTE(S) LEGAL(ES)                   CONTADOR
1                              BRAVO ARELLANO JORGE LUIS
2    SAENZ MIÑO FERNANDO JOSE
3                  1704239654              1708033251001
4                                                 038674

In [28]:
row_expediente = dafHeader.iloc[1].to_dict()
row_anio = dafHeader.iloc[3].to_dict()

In [29]:
print(row_expediente["RAZÓN SOCIAL"])
print(row_anio)

EXPEDIENTE
{'RAZÓN SOCIAL': 'AÑO', 'CORPORACION FAVORITA C.A.': '2022'}

In [30]:
dictContador = {row_expediente["RAZÓN SOCIAL"]: row_expediente["CORPORACION FAVORITA C.A."]}
dictAnio = {row_anio["RAZÓN SOCIAL"]: row_anio["CORPORACION FAVORITA C.A."]}
print(dictContador)
print(dictAnio)

{'EXPEDIENTE': '384'}
{'AÑO': '2022'}

In [31]:
datosFrame.insert(loc=0, column=row_expediente["RAZÓN SOCIAL"], value=row_expediente["CORPORACION FAVORITA C.A."])

In [32]:
datosFrame

,EXPEDIENTE,ACTIVO,ACTIVO CORRIENTE,EFECTIVO Y EQUIVALENTES DE EFECTIVO,CAJA,INSTITUCIONES FINANCIERAS PÚBLICAS,INSTITUCIONES FINANCIERAS PRIVADAS,ACTIVOS FINANCIEROS,ACTIVOS FINANCIEROS A VALOR RAZONABLE CON CAMBIOS EN RESULTADOS,RENTA VARIABLE,...,(-) PÉRDIDAS ACUMULADAS,RESULTADOS ACUMULADOS PROVENIENTES DE LA ADOPCION POR PRIMERA VEZ DE LAS NIIF,RESERVA DE CAPITAL,RESERVA POR DONACIONES,RESERVA POR VALUACIÓN,SUPERÁVIT POR REVALUACIÓN DE INVERSIONES,RESULTADOS DEL EJERCICIO,GANANCIA NETA DEL PERIODO,(-) PÉRDIDA NETA DEL PERIODO,PARTICIPACIÓN CONTROLADORA
0,384,2480403867.05,701635273.03,7283311.87,1342366.55,0.0,5940945.32,390920239.29,220974204.08,0.0,...,-9793179.94,70117017.87,28664218.97,0.0,0.0,0.0,152679114.47,152679114.47,0.0,0.0

In [33]:
datosFrame.insert(loc=1, column=row_anio["RAZÓN SOCIAL"], value=row_anio["CORPORACION FAVORITA C.A."])
datosFrame

,EXPEDIENTE,AÑO,ACTIVO,ACTIVO CORRIENTE,EFECTIVO Y EQUIVALENTES DE EFECTIVO,CAJA,INSTITUCIONES FINANCIERAS PÚBLICAS,INSTITUCIONES FINANCIERAS PRIVADAS,ACTIVOS FINANCIEROS,ACTIVOS FINANCIEROS A VALOR RAZONABLE CON CAMBIOS EN RESULTADOS,...,(-) PÉRDIDAS ACUMULADAS,RESULTADOS ACUMULADOS PROVENIENTES DE LA ADOPCION POR PRIMERA VEZ DE LAS NIIF,RESERVA DE CAPITAL,RESERVA POR DONACIONES,RESERVA POR VALUACIÓN,SUPERÁVIT POR REVALUACIÓN DE INVERSIONES,RESULTADOS DEL EJERCICIO,GANANCIA NETA DEL PERIODO,(-) PÉRDIDA NETA DEL PERIODO,PARTICIPACIÓN CONTROLADORA
0,384,2022,2480403867.05,701635273.03,7283311.87,1342366.55,0.0,5940945.32,390920239.29,220974204.08,...,-9793179.94,70117017.87,28664218.97,0.0,0.0,0.0,152679114.47,152679114.47,0.0,0.0

In [34]:
datosFrame = datosFrame.astype("object")
datosFrame

,EXPEDIENTE,AÑO,ACTIVO,ACTIVO CORRIENTE,EFECTIVO Y EQUIVALENTES DE EFECTIVO,CAJA,INSTITUCIONES FINANCIERAS PÚBLICAS,INSTITUCIONES FINANCIERAS PRIVADAS,ACTIVOS FINANCIEROS,ACTIVOS FINANCIEROS A VALOR RAZONABLE CON CAMBIOS EN RESULTADOS,...,(-) PÉRDIDAS ACUMULADAS,RESULTADOS ACUMULADOS PROVENIENTES DE LA ADOPCION POR PRIMERA VEZ DE LAS NIIF,RESERVA DE CAPITAL,RESERVA POR DONACIONES,RESERVA POR VALUACIÓN,SUPERÁVIT POR REVALUACIÓN DE INVERSIONES,RESULTADOS DEL EJERCICIO,GANANCIA NETA DEL PERIODO,(-) PÉRDIDA NETA DEL PERIODO,PARTICIPACIÓN CONTROLADORA
0,384,2022,2480403867.05,701635273.03,7283311.87,1342366.55,0.0,5940945.32,390920239.29,220974204.08,...,-9793179.94,70117017.87,28664218.97,0.0,0.0,0.0,152679114.47,152679114.47,0.0,0.0

In [35]:
dafHeader

,RAZÓN SOCIAL,CORPORACION FAVORITA C.A.
0,DIRECCIÓN,AV.ELOY ALFARO Y AVIGIRAS No. N52-468 BARRIO:
1,EXPEDIENTE,384
2,RUC,1790016919001
3,AÑO,2022
4,FORMULARIO,SCV.NIIF.384.2022.1
5,FECHA DE LA JUNTA QUE APROBÓ LOS ESTADOS FINAN...,"Apr 26, 20"

In [36]:
newRow = pd.DataFrame([dafHeader.columns.to_list()], columns=dafHeader.columns)
newRow

   RAZÓN SOCIAL  CORPORACION FAVORITA C.A.
0  RAZÓN SOCIAL  CORPORACION FAVORITA C.A.

In [37]:
dataframeCabecera = pd.concat([newRow, dafHeader])
dataframeCabecera

,RAZÓN SOCIAL,CORPORACION FAVORITA C.A.
0,RAZÓN SOCIAL,CORPORACION FAVORITA C.A.
0,DIRECCIÓN,AV.ELOY ALFARO Y AVIGIRAS No. N52-468 BARRIO:
1,EXPEDIENTE,384
2,RUC,1790016919001
3,AÑO,2022
4,FORMULARIO,SCV.NIIF.384.2022.1
5,FECHA DE LA JUNTA QUE APROBÓ LOS ESTADOS FINAN...,"Apr 26, 20"

In [38]:
textosCabecera = dataframeCabecera["RAZÓN SOCIAL"].to_list()
datosCorpCabecera = dataframeCabecera["CORPORACION FAVORITA C.A."].to_list()
print(textosCabecera)
print(datosCorpCabecera)

['RAZÓN SOCIAL', 'DIRECCIÓN', 'EXPEDIENTE', 'RUC', 'AÑO', 'FORMULARIO', 'FECHA DE LA JUNTA QUE APROBÓ LOS ESTADOS FINANCIEROS (DD/MM/AAA)']
['CORPORACION FAVORITA C.A.', 'AV.ELOY ALFARO Y AVIGIRAS No. N52-468 BARRIO:', '384', '1790016919001', '2022', 'SCV.NIIF.384.2022.1', 'Apr 26, 20']

In [39]:
dafContador

          REPRESENTANTE LEGAL                   CONTADOR
0  REPRESENTANTE(S) LEGAL(ES)                   CONTADOR
1                              BRAVO ARELLANO JORGE LUIS
2    SAENZ MIÑO FERNANDO JOSE
3                  1704239654              1708033251001
4                                                 038674

In [40]:
dafContador.drop([0], inplace=True)
dafContador

        REPRESENTANTE LEGAL                   CONTADOR
1                            BRAVO ARELLANO JORGE LUIS
2  SAENZ MIÑO FERNANDO JOSE
3                1704239654              1708033251001
4                                               038674

In [41]:
addedColumnsList = "REPRESENTANTE LEGAL|IDENT. REPRESENTANTE LEGAL|CONTADOR|IDENT. CONTADOR|COD.CONTADOR".split("|")
addedColumnsList
#textosCabecera.extend([])

['REPRESENTANTE LEGAL',
 'IDENT. REPRESENTANTE LEGAL',
 'CONTADOR',
 'IDENT. CONTADOR',
 'COD.CONTADOR']

In [42]:
textosCabecera.extend(addedColumnsList)
textosCabecera

['RAZÓN SOCIAL',
 'DIRECCIÓN',
 'EXPEDIENTE',
 'RUC',
 'AÑO',
 'FORMULARIO',
 'FECHA DE LA JUNTA QUE APROBÓ LOS ESTADOS FINANCIEROS (DD/MM/AAA)',
 'REPRESENTANTE LEGAL',
 'IDENT. REPRESENTANTE LEGAL',
 'CONTADOR',
 'IDENT. CONTADOR',
 'COD.CONTADOR']

In [43]:
dafContador

        REPRESENTANTE LEGAL                   CONTADOR
1                            BRAVO ARELLANO JORGE LUIS
2  SAENZ MIÑO FERNANDO JOSE
3                1704239654              1708033251001
4                                               038674

In [44]:
row1contador = dafContador.iloc[0].to_dict()
row2replegal = dafContador.iloc[1].to_dict()
row3cedulas = dafContador.iloc[2].to_dict()
row3codcontador = dafContador.iloc[3].to_dict()
print(row1contador)
print(row2replegal)
print(row3cedulas)
print(row3codcontador)

{'REPRESENTANTE LEGAL': '', 'CONTADOR': 'BRAVO ARELLANO JORGE LUIS'}
{'REPRESENTANTE LEGAL': 'SAENZ MIÑO FERNANDO JOSE', 'CONTADOR': ''}
{'REPRESENTANTE LEGAL': '1704239654', 'CONTADOR': '1708033251001'}
{'REPRESENTANTE LEGAL': '', 'CONTADOR': '038674'}

In [45]:
datosCorpCabecera.extend( [row2replegal["REPRESENTANTE LEGAL"], row3cedulas["REPRESENTANTE LEGAL"], row1contador["CONTADOR"], row3cedulas["CONTADOR"], row3codcontador["CONTADOR"]] )
datosCorpCabecera

['CORPORACION FAVORITA C.A.',
 'AV.ELOY ALFARO Y AVIGIRAS No. N52-468 BARRIO:',
 '384',
 '1790016919001',
 '2022',
 'SCV.NIIF.384.2022.1',
 'Apr 26, 20',
 'SAENZ MIÑO FERNANDO JOSE',
 '1704239654',
 'BRAVO ARELLANO JORGE LUIS',
 '1708033251001',
 '038674']

In [46]:
datosCorpCabecera = np.array(datosCorpCabecera).reshape(1,-1)
dataframeCabeceraContador = pd.DataFrame(datosCorpCabecera, columns=textosCabecera)
dataframeCabeceraContador

,RAZÓN SOCIAL,DIRECCIÓN,EXPEDIENTE,RUC,AÑO,FORMULARIO,FECHA DE LA JUNTA QUE APROBÓ LOS ESTADOS FINANCIEROS (DD/MM/AAA),REPRESENTANTE LEGAL,IDENT. REPRESENTANTE LEGAL,CONTADOR,IDENT. CONTADOR,COD.CONTADOR
0,CORPORACION FAVORITA C.A.,AV.ELOY ALFARO Y AVIGIRAS No. N52-468 BARRIO:,384,1790016919001,2022,SCV.NIIF.384.2022.1,"Apr 26, 20",SAENZ MIÑO FERNANDO JOSE,1704239654,BRAVO ARELLANO JORGE LUIS,1708033251001,038674

In [47]:
datosFrame

,EXPEDIENTE,AÑO,ACTIVO,ACTIVO CORRIENTE,EFECTIVO Y EQUIVALENTES DE EFECTIVO,CAJA,INSTITUCIONES FINANCIERAS PÚBLICAS,INSTITUCIONES FINANCIERAS PRIVADAS,ACTIVOS FINANCIEROS,ACTIVOS FINANCIEROS A VALOR RAZONABLE CON CAMBIOS EN RESULTADOS,...,(-) PÉRDIDAS ACUMULADAS,RESULTADOS ACUMULADOS PROVENIENTES DE LA ADOPCION POR PRIMERA VEZ DE LAS NIIF,RESERVA DE CAPITAL,RESERVA POR DONACIONES,RESERVA POR VALUACIÓN,SUPERÁVIT POR REVALUACIÓN DE INVERSIONES,RESULTADOS DEL EJERCICIO,GANANCIA NETA DEL PERIODO,(-) PÉRDIDA NETA DEL PERIODO,PARTICIPACIÓN CONTROLADORA
0,384,2022,2480403867.05,701635273.03,7283311.87,1342366.55,0.0,5940945.32,390920239.29,220974204.08,...,-9793179.94,70117017.87,28664218.97,0.0,0.0,0.0,152679114.47,152679114.47,0.0,0.0

In [48]:
dfAcumulado_datps

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 368,Unnamed: 369,Unnamed: 370,Unnamed: 371,Unnamed: 372,Unnamed: 373,Unnamed: 374,Unnamed: 375,Unnamed: 376,Unnamed: 377
0,EXPEDIENTE,AÑO,ACTIVO,ACTIVO CORRIENTE,EFECTIVO Y EQUIVALENTES DE EFECTIVO,CAJA,INSTITUCIONES FINANCIERAS PÚBLICAS,INSTITUCIONES FINANCIERAS PRIVADAS,ACTIVOS FINANCIEROS,ACTIVOS FINANCIEROS A VALOR RAZONABLE CON CAMB...,...,(-) PÉRDIDAS ACUMULADAS,RESULTADOS ACUMULADOS PROVENIENTES DE LA ADOPC...,RESERVA DE CAPITAL,RESERVA POR DONACIONES,RESERVA POR VALUACIÓN,SUPERÁVIT POR REVALUACIÓN DE INVERSIONES,RESULTADOS DEL EJERCICIO,GANANCIA NETA DEL PERIODO,(-) PÉRDIDA NETA DEL PERIODO,PARTICIPACIÓN CONTROLADORA
1,384,2022,2480403867.05,701635273.03,7283311.87,1342366.55,0.0,5940945.32,390920239.29,220974204.08,...,-9793179.94,70117017.87,28664218.97,0.0,0.0,0.0,152679114.47,152679114.47,0.0,0.0

In [49]:
data = datosFrame.astype(str)
data

,EXPEDIENTE,AÑO,ACTIVO,ACTIVO CORRIENTE,EFECTIVO Y EQUIVALENTES DE EFECTIVO,CAJA,INSTITUCIONES FINANCIERAS PÚBLICAS,INSTITUCIONES FINANCIERAS PRIVADAS,ACTIVOS FINANCIEROS,ACTIVOS FINANCIEROS A VALOR RAZONABLE CON CAMBIOS EN RESULTADOS,...,(-) PÉRDIDAS ACUMULADAS,RESULTADOS ACUMULADOS PROVENIENTES DE LA ADOPCION POR PRIMERA VEZ DE LAS NIIF,RESERVA DE CAPITAL,RESERVA POR DONACIONES,RESERVA POR VALUACIÓN,SUPERÁVIT POR REVALUACIÓN DE INVERSIONES,RESULTADOS DEL EJERCICIO,GANANCIA NETA DEL PERIODO,(-) PÉRDIDA NETA DEL PERIODO,PARTICIPACIÓN CONTROLADORA
0,384,2022,2480403867.05,701635273.03,7283311.87,1342366.55,0.0,5940945.32,390920239.29,220974204.08,...,-9793179.94,70117017.87,28664218.97,0.0,0.0,0.0,152679114.47,152679114.47,0.0,0.0

In [50]:
with pd.ExcelWriter(excel_output, engine="openpyxl", if_sheet_exists="overlay", mode="a") as writer:
    dataframeCabeceraContador.to_excel(writer, sheet_name="Encabezado", header=False,index=False, startrow=len(dfAcumulado_encabezado)+1)
    data.to_excel(writer, sheet_name="Datos",header=False ,index=False, startrow=len(dfAcumulado_datps)+1,)

ValueError: 'overlay' is not valid for if_sheet_exists. Valid options are 'error', 'new' and 'replace'.

In [53]:
datosFrame

,EXPEDIENTE,AÑO,ACTIVO,ACTIVO CORRIENTE,EFECTIVO Y EQUIVALENTES DE EFECTIVO,CAJA,INSTITUCIONES FINANCIERAS PÚBLICAS,INSTITUCIONES FINANCIERAS PRIVADAS,ACTIVOS FINANCIEROS,ACTIVOS FINANCIEROS A VALOR RAZONABLE CON CAMBIOS EN RESULTADOS,...,(-) PÉRDIDAS ACUMULADAS,RESULTADOS ACUMULADOS PROVENIENTES DE LA ADOPCION POR PRIMERA VEZ DE LAS NIIF,RESERVA DE CAPITAL,RESERVA POR DONACIONES,RESERVA POR VALUACIÓN,SUPERÁVIT POR REVALUACIÓN DE INVERSIONES,RESULTADOS DEL EJERCICIO,GANANCIA NETA DEL PERIODO,(-) PÉRDIDA NETA DEL PERIODO,PARTICIPACIÓN CONTROLADORA
0,384,2022,2480403867.05,701635273.03,7283311.87,1342366.55,0.0,5940945.32,390920239.29,220974204.08,...,-9793179.94,70117017.87,28664218.97,0.0,0.0,0.0,152679114.47,152679114.47,0.0,0.0