In [1]:
import pandas as pd
import numpy as np
import tabula

C:\Users\Usuario\AppData\Local\Temp\ipykernel_11016\3008533230.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [ ]:
#al ser la primera vez unificando los archivos, el pdf original será el primero,
#luego sobre el se irán acumulando la demás información

In [40]:
pdfOriginal = "../Inputs/DocEconomica_384_3_1_1_2020_12_31_00_00_00_000.pdf"
excel_output = "../Outputs/estados_situacion_financiera.xlsx"

In [3]:
coords = {
    "1":(110.46, 20.76, 814.79, 575.60),
    "2":(19, 20.76, 821.50, 575.60),
    "3":(19, 20.76, 822.24, 575.60),
    "4":(19, 20.76, 822.24, 575.60),
    "5":(19, 20.76, 822.24, 575.60),
    "6":(19, 20.76, 822.24, 575.60),
    "7":(19, 20.76, 822.24, 575.60)
}

In [4]:
dfData = pd.DataFrame()

In [5]:
length = len(coords)
for dfIndex in range(length):
    dfPdf = tabula.read_pdf(pdfOriginal, pages=(dfIndex+1), area=coords[str(dfIndex+1)], lattice=True, output_format="dataframe", encoding="latin-1")
    dfData = pd.concat([dfData, dfPdf[0]])

Error importing jpype dependencies. Fallback to subprocess.
No module named 'jpype'

In [6]:
dfData

              ESTADO DE SITUACIÓN FINANCIERA Unnamed: 1       Unnamed: 2
0                                     CUENTA     CÓDIGO  VALOR (En USD$)
1                                     ACTIVO          1    2121860458.59
2                           ACTIVO CORRIENTE        101     712903728.96
3        EFECTIVO Y EQUIVALENTES DE EFECTIVO      10101      19959678.50
4                                       CAJA    1010101        345391.69
..                                       ...        ...              ...
49  SUPERÁVIT POR REVALUACIÓN DE INVERSIONES      30607             0.00
50                  RESULTADOS DEL EJERCICIO        307     147499234.25
51                 GANANCIA NETA DEL PERIODO      30701     147499234.25
52              (-) PÉRDIDA NETA DEL PERIODO      30702             0.00
53                PARTICIPACIÓN CONTROLADORA         31              NaN

[383 rows x 3 columns]

In [7]:
dfData.iloc[0:59]

,ESTADO DE SITUACIÓN FINANCIERA,Unnamed: 1,Unnamed: 2
0,CUENTA,CÓDIGO,VALOR (En USD$)
1,ACTIVO,1,2121860458.59
2,ACTIVO CORRIENTE,101,712903728.96
3,EFECTIVO Y EQUIVALENTES DE EFECTIVO,10101,19959678.50
4,CAJA,1010101,345391.69
5,INSTITUCIONES FINANCIERAS PÚBLICAS,1010102,0.00
6,INSTITUCIONES FINANCIERAS PRIVADAS,1010103,19614286.81
7,ACTIVOS FINANCIEROS,10102,439367682.04
8,ACTIVOS FINANCIEROS A VALOR RAZONABLE CON CAMB...,1010201,304394782.36
9,RENTA VARIABLE,101020101,0.00
10,ACCIONES Y PARTICIPACIONES,10102010101,0.00
11,CUOTAS DE FONDOS COLECTIVOS,10102010102,0.00
12,VALORES DE TITULARIZACIÓN DE PARTICIPACIÓN,10102010103,0.00
13,UNIDADES DE PARTICIPACIÓN,10102010104,0.00
14,INVERSIONES EN EL EXTERIOR,10102010105,0.00
15,OTROS,10102010106,0.00
16,RENTA FIJA,101020102,304394782.36
17,AVALES,10102010201,0.00
18,BONOS DEL ESTADO,10102010202,0.00
19,BONOS DE PRENDA,10102010203,0.00
20,CÉDULAS HIPOTECARIAS,10102010204,0.00
21,CERTIFICADOS FINANCIEROS,10102010205,0.00
22,CERTIFICADOS DE INVERSIÓN,10102010206,275000000.00
23,CERTIFICADOS DE TESORERÍA,10102010207,0.00
24,CERTIFICADOS DE DEPÓSITO,10102010208,0.00
25,CUPONES,10102010209,0.00
26,DEPÓSITOS A PLAZO,10102010210,0.00
27,LETRAS DE CAMBIO,10102010211,0.00
28,NOTAS DE CRÉDITO,10102010212,0.00
29,OBLIGACIONES,10102010213,0.00
30,FACTURAS COMERCIALES NEGOCIABLES,10102010214,0.00
31,OVERNIGHTS,10102010215,0.00
32,OBLIGACIONES CONVERTIBLES EN ACCIONES,10102010216,0.00
33,PAPEL COMERCIAL,10102010217,0.00
34,PAGARÉS,10102010218,0.00
35,PÓLIZAS DE ACUMULACIÓN,10102010219,0.00
36,TÍTULOS DEL BANCO CENTRAL,10102010220,0.00
37,VALORES DE TITULARIZACIÓN,10102010221,0.00
38,INVERSIONES EN EL EXTERIOR,10102010222,20002383.71
39,OTROS,10102010223,9392398.65
40,DERIVADOS,101020103,0.00
41,FORWARD,10102010301,0.00
42,FUTUROS,10102010302,0.00
43,OPCIONES,10102010303,0.00
44,OTROS,10102010304,0.00
45,ACTIVOS FINANCIEROS A VALOR RAZONABLE CON CAMB...,1010202,0.00
46,RENTA VARIABLE,101020201,0.00
47,ACCIONES Y PARTICIPACIONES,10102020101,0.00
48,CUOTAS DE FONDOS COLECTIVOS,10102020102,0.00
0,CUENTA,CÓDIGO,VALOR (En USD$)
1,UNIDADES DE PARTICIPACIÓN,10102020103,0.00
2,VALORES DE TITULARIZACIÓN DE PARTICIPACIÓN,10102020104,0.00
3,INVERSIONES EN EL EXTERIOR,10102020105,0.00
4,OTROS,10102020106,0.00
5,RENTA FIJA,101020202,0.00
6,AVALES,10102020201,0.00
7,BONOS DEL ESTADO,10102020202,0.00
8,BONOS DE PRENDA,10102020203,0.00
9,CÉDULAS HIPOTECARIAS,10102020204,0.00

In [8]:
dfData.tail(20)

                       ESTADO DE SITUACIÓN FINANCIERA Unnamed: 1    Unnamed: 2
34                                           RESERVAS        304  470219864.98
35                                      RESERVA LEGAL      30401  139428963.10
36                 RESERVAS FACULTATIVA Y ESTATUTARIA      30402  330790901.88
37                        OTROS RESULTADOS INTEGRALES        305          0.00
38  SUPERAVIT DE ACTIVOS FINANCIEROS A VALOR RAZON...      30501          0.00
39  SUPERAVIT POR REVALUACIÓN DE PROPIEDADES, PLAN...      30502          0.00
40   SUPERAVIT POR REVALUACION DE ACTIVOS INTANGIBLES      30503          0.00
41                    OTROS SUPERAVIT POR REVALUACION      30504          0.00
42                              RESULTADOS ACUMULADOS        306  200254036.43
43                               GANANCIAS ACUMULADAS      30601  111812413.68
44                            (-) PÉRDIDAS ACUMULADAS      30602  -10339614.09
45  RESULTADOS ACUMULADOS PROVENIENTES DE LA ADOPC...      30603   70117017.87
46                                 RESERVA DE CAPITAL      30604   28664218.97
47                             RESERVA POR DONACIONES      30605          0.00
48                              RESERVA POR VALUACIÓN      30606          0.00
49           SUPERÁVIT POR REVALUACIÓN DE INVERSIONES      30607          0.00
50                           RESULTADOS DEL EJERCICIO        307  147499234.25
51                          GANANCIA NETA DEL PERIODO      30701  147499234.25
52                       (-) PÉRDIDA NETA DEL PERIODO      30702          0.00
53                         PARTICIPACIÓN CONTROLADORA         31           NaN

In [9]:
dfData.iloc[59:110]

,ESTADO DE SITUACIÓN FINANCIERA,Unnamed: 1,Unnamed: 2
10,CERTIFICADOS FINANCIEROS,10102020205,0.00
11,CERTIFICADOS DE INVERSIÓN,10102020206,0.00
12,CERTIFICADOS DE TESORERÍA,10102020207,0.00
13,CERTIFICADOS DE DEPÓSITO,10102020208,0.00
14,CUPONES,10102020209,0.00
15,DEPÓSITOS A PLAZO,10102020210,0.00
16,LETRAS DE CAMBIO,10102020211,0.00
17,NOTAS DE CRÉDITO,10102020212,0.00
18,OBLIGACIONES,10102020213,0.00
19,FACTURAS COMERCIALES NEGOCIABLES,10102020214,0.00
20,OVERNIGHTS,10102020215,0.00
21,OBLIGACIONES CONVERTIBLES EN ACCIONES,10102020216,0.00
22,PAPEL COMERCIAL,10102020217,0.00
23,PAGARÉS,10102020218,0.00
24,PÓLIZAS DE ACUMULACIÓN,10102020219,0.00
25,TÍTULOS DEL BANCO CENTRAL,10102020220,0.00
26,VALORES DE TITULARIZACIÓN,10102020221,0.00
27,INVERSIONES EN EL EXTERIOR,10102020222,0.00
28,OTROS,10102020223,0.00
29,ACTIVOS FINANCIEROS AL COSTO AMORTIZADO,1010203,0.00
30,RENTA FIJA,101020302,0.00
31,AVALES,10102030201,0.00
32,BONOS DEL ESTADO,10102030202,0.00
33,BONOS DE PRENDA,10102030203,0.00
34,CÉDULAS HIPOTECARIAS,10102030204,0.00
35,CERTIFICADOS FINANCIEROS,10102030205,0.00
36,CERTIFICADOS DE INVERSIÓN,10102030206,0.00
37,CERTIFICADOS DE TESORERÍA,10102030207,0.00
38,CERTIFICADOS DE DEPÓSITO,10102030208,0.00
39,CUPONES,10102030209,0.00
40,DEPÓSITOS A PLAZO,10102030210,0.00
41,LETRAS DE CAMBIO,10102030211,0.00
42,NOTAS DE CRÉDITO,10102030212,0.00
43,OBLIGACIONES,10102030213,0.00
44,FACTURAS COMERCIALES NEGOCIABLES,10102030214,0.00
45,OVERNIGHTS,10102030215,0.00
46,OBLIGACIONES CONVERTIBLES EN ACCIONES,10102030216,0.00
47,PAPEL COMERCIAL,10102030217,0.00
48,PAGARÉS,10102030218,0.00
49,PÓLIZAS DE ACUMULACIÓN,10102030219,0.00
50,TÍTULOS DEL BANCO CENTRAL,10102030220,0.00
51,VALORES DE TITULARIZACIÓN,10102030221,0.00
52,INVERSIONES EN EL EXTERIOR,10102030222,0.00
53,OTROS,10102030223,0.00
54,PROVISIÓN POR DETERIORO DE ACTIVOS FINANCIEROS,1010204,0.00
55,ACTIVOS FINANCIEROS A VALOR RAZONABLE CON CAMB...,101020401,0.00
0,CUENTA,CÓDIGO,VALOR (En USD$)
1,ACTIVOS FINANCIEROS AL COSTO AMORTIZADO,101020402,0.00
2,ACTIVOS FINANCIEROS A VALOR RAZONABLE CON CAMB...,101020403,0.00
3,DEUDORES COMERCIALES Y OTRAS CUENTAS POR COBRA...,1010205,116721063.13
4,DE ACTIVIDADES ORDINARIAS QUE GENEREN INTERESES,101020501,10306441.31

In [10]:
dfData.info()

<class 'pandas.core.frame.DataFrame'>
Index: 383 entries, 0 to 53
Data columns (total 3 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   ESTADO DE SITUACIÓN FINANCIERA  383 non-null    object
 1   Unnamed: 1                      383 non-null    object
 2   Unnamed: 2                      381 non-null    object
dtypes: object(3)
memory usage: 12.0+ KB

In [11]:
dfData[dfData["Unnamed: 2"].isna()]

                       ESTADO DE SITUACIÓN FINANCIERA Unnamed: 1 Unnamed: 2
23  PATRIMONIO NETO ATRIBUIBLE A LOS PROPIETARIOS ...         30        NaN
53                         PARTICIPACIÓN CONTROLADORA         31        NaN

In [12]:
indexCodCuenValor = dfData[ (dfData["ESTADO DE SITUACIÓN FINANCIERA"]=="CUENTA")
                        &
                        (dfData["Unnamed: 1"]=="CÓDIGO") & (dfData["Unnamed: 2"]=="VALOR (En USD$)")].index
dfData.drop(indexCodCuenValor, inplace=True)
dfData.info()

<class 'pandas.core.frame.DataFrame'>
Index: 376 entries, 1 to 53
Data columns (total 3 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   ESTADO DE SITUACIÓN FINANCIERA  376 non-null    object
 1   Unnamed: 1                      376 non-null    object
 2   Unnamed: 2                      374 non-null    object
dtypes: object(3)
memory usage: 11.8+ KB

In [13]:
dfData.iloc[0:59]

,ESTADO DE SITUACIÓN FINANCIERA,Unnamed: 1,Unnamed: 2
1,ACTIVO,1,2121860458.59
2,ACTIVO CORRIENTE,101,712903728.96
3,EFECTIVO Y EQUIVALENTES DE EFECTIVO,10101,19959678.50
4,CAJA,1010101,345391.69
5,INSTITUCIONES FINANCIERAS PÚBLICAS,1010102,0.00
6,INSTITUCIONES FINANCIERAS PRIVADAS,1010103,19614286.81
7,ACTIVOS FINANCIEROS,10102,439367682.04
8,ACTIVOS FINANCIEROS A VALOR RAZONABLE CON CAMB...,1010201,304394782.36
9,RENTA VARIABLE,101020101,0.00
10,ACCIONES Y PARTICIPACIONES,10102010101,0.00
11,CUOTAS DE FONDOS COLECTIVOS,10102010102,0.00
12,VALORES DE TITULARIZACIÓN DE PARTICIPACIÓN,10102010103,0.00
13,UNIDADES DE PARTICIPACIÓN,10102010104,0.00
14,INVERSIONES EN EL EXTERIOR,10102010105,0.00
15,OTROS,10102010106,0.00
16,RENTA FIJA,101020102,304394782.36
17,AVALES,10102010201,0.00
18,BONOS DEL ESTADO,10102010202,0.00
19,BONOS DE PRENDA,10102010203,0.00
20,CÉDULAS HIPOTECARIAS,10102010204,0.00
21,CERTIFICADOS FINANCIEROS,10102010205,0.00
22,CERTIFICADOS DE INVERSIÓN,10102010206,275000000.00
23,CERTIFICADOS DE TESORERÍA,10102010207,0.00
24,CERTIFICADOS DE DEPÓSITO,10102010208,0.00
25,CUPONES,10102010209,0.00
26,DEPÓSITOS A PLAZO,10102010210,0.00
27,LETRAS DE CAMBIO,10102010211,0.00
28,NOTAS DE CRÉDITO,10102010212,0.00
29,OBLIGACIONES,10102010213,0.00
30,FACTURAS COMERCIALES NEGOCIABLES,10102010214,0.00
31,OVERNIGHTS,10102010215,0.00
32,OBLIGACIONES CONVERTIBLES EN ACCIONES,10102010216,0.00
33,PAPEL COMERCIAL,10102010217,0.00
34,PAGARÉS,10102010218,0.00
35,PÓLIZAS DE ACUMULACIÓN,10102010219,0.00
36,TÍTULOS DEL BANCO CENTRAL,10102010220,0.00
37,VALORES DE TITULARIZACIÓN,10102010221,0.00
38,INVERSIONES EN EL EXTERIOR,10102010222,20002383.71
39,OTROS,10102010223,9392398.65
40,DERIVADOS,101020103,0.00
41,FORWARD,10102010301,0.00
42,FUTUROS,10102010302,0.00
43,OPCIONES,10102010303,0.00
44,OTROS,10102010304,0.00
45,ACTIVOS FINANCIEROS A VALOR RAZONABLE CON CAMB...,1010202,0.00
46,RENTA VARIABLE,101020201,0.00
47,ACCIONES Y PARTICIPACIONES,10102020101,0.00
48,CUOTAS DE FONDOS COLECTIVOS,10102020102,0.00
1,UNIDADES DE PARTICIPACIÓN,10102020103,0.00
2,VALORES DE TITULARIZACIÓN DE PARTICIPACIÓN,10102020104,0.00
3,INVERSIONES EN EL EXTERIOR,10102020105,0.00
4,OTROS,10102020106,0.00
5,RENTA FIJA,101020202,0.00
6,AVALES,10102020201,0.00
7,BONOS DEL ESTADO,10102020202,0.00
8,BONOS DE PRENDA,10102020203,0.00
9,CÉDULAS HIPOTECARIAS,10102020204,0.00
10,CERTIFICADOS FINANCIEROS,10102020205,0.00
11,CERTIFICADOS DE INVERSIÓN,10102020206,0.00

In [14]:
dfData.rename(inplace=True, columns={"ESTADO DE SITUACIÓN FINANCIERA":"CUENTA",
                                    "Unnamed: 1":"CODS", "Unnamed: 2":"VALOR EN USD"})

dfData.drop(["CODS"], axis=1, inplace=True)

In [15]:
dfData.head(10)

                                               CUENTA   VALOR EN USD
1                                              ACTIVO  2121860458.59
2                                    ACTIVO CORRIENTE   712903728.96
3                 EFECTIVO Y EQUIVALENTES DE EFECTIVO    19959678.50
4                                                CAJA      345391.69
5                  INSTITUCIONES FINANCIERAS PÚBLICAS           0.00
6                  INSTITUCIONES FINANCIERAS PRIVADAS    19614286.81
7                                 ACTIVOS FINANCIEROS   439367682.04
8   ACTIVOS FINANCIEROS A VALOR RAZONABLE CON CAMB...   304394782.36
9                                      RENTA VARIABLE           0.00
10                         ACCIONES Y PARTICIPACIONES           0.00

In [16]:
texto = dfData["CUENTA"].to_list()
valores_list = dfData["VALOR EN USD"].to_list()

In [17]:
valores = np.array(valores_list).reshape(1,-1)
datosFrame = pd.DataFrame(valores, columns=texto)

In [18]:
datosFrame

,ACTIVO,ACTIVO CORRIENTE,EFECTIVO Y EQUIVALENTES DE EFECTIVO,CAJA,INSTITUCIONES FINANCIERAS PÚBLICAS,INSTITUCIONES FINANCIERAS PRIVADAS,ACTIVOS FINANCIEROS,ACTIVOS FINANCIEROS A VALOR RAZONABLE CON CAMBIOS EN RESULTADOS,RENTA VARIABLE,ACCIONES Y PARTICIPACIONES,...,(-) PÉRDIDAS ACUMULADAS,RESULTADOS ACUMULADOS PROVENIENTES DE LA ADOPCION POR PRIMERA VEZ DE LAS NIIF,RESERVA DE CAPITAL,RESERVA POR DONACIONES,RESERVA POR VALUACIÓN,SUPERÁVIT POR REVALUACIÓN DE INVERSIONES,RESULTADOS DEL EJERCICIO,GANANCIA NETA DEL PERIODO,(-) PÉRDIDA NETA DEL PERIODO,PARTICIPACIÓN CONTROLADORA
0,2121860458.59,712903728.96,19959678.50,345391.69,0.00,19614286.81,439367682.04,304394782.36,0.00,0.00,...,-10339614.09,70117017.87,28664218.97,0.00,0.00,0.00,147499234.25,147499234.25,0.00,nan

In [19]:
Header = tabula.read_pdf( pdfOriginal, pages=1, area=(21.20, 22.24, 115.71, 572.62), lattice=True, output_format="dataframe", encoding='latin-1' )
dafHeader = Header[0]
dafHeader

,RAZÓN SOCIAL,CORPORACION FAVORITA C.A.
0,DIRECCIÓN,AV.ELOY ALFARO Y AVIGIRAS No. N52-468 BARRIO:
1,EXPEDIENTE,384
2,RUC,1790016919001
3,AÑO,2020
4,FORMULARIO,SCV.NIIF.384.2020.1
5,FECHA DE LA JUNTA QUE APROBÓ LOS ESTADOS FINAN...,"Jun 24, 20"

In [20]:
columns_names = ["REPRESENTANTE LEGAL","CONTADOR"]
pandas_options = {"names":columns_names}
contador = tabula.read_pdf(pdfOriginal, pages=8, area=(603.56, 15.55, 671.24, 418.66), lattice=False, output_format="dataframe", encoding="latin-1", multiple_tables=True, pandas_options=pandas_options)
dafContador = contador[0]

In [21]:
dafContador

          REPRESENTANTE LEGAL               CONTADOR
0  REPRESENTANTE(S) LEGAL(ES)               CONTADOR
1    SAENZ MIÑO FERNANDO JOSE  BRAVO ARRELLANO JORGE
2                  1704239654          1708033251001
3                         NaN                  38674

In [22]:
row_expediente = dafHeader.iloc[1].to_dict()
row_anio = dafHeader.iloc[3].to_dict()

In [23]:
print(row_expediente["RAZÓN SOCIAL"])
print(row_anio)

EXPEDIENTE
{'RAZÓN SOCIAL': 'AÑO', 'CORPORACION FAVORITA C.A.': '2020'}

In [24]:
dictContador = {row_expediente["RAZÓN SOCIAL"]: row_expediente["CORPORACION FAVORITA C.A."]}
dictAnio = {row_anio["RAZÓN SOCIAL"]: row_anio["CORPORACION FAVORITA C.A."]}
print(dictContador)
print(dictAnio)

{'EXPEDIENTE': '384'}
{'AÑO': '2020'}

In [25]:
datosFrame.insert(loc=0, column=row_expediente["RAZÓN SOCIAL"], value=row_expediente["CORPORACION FAVORITA C.A."])

In [26]:
datosFrame

,EXPEDIENTE,ACTIVO,ACTIVO CORRIENTE,EFECTIVO Y EQUIVALENTES DE EFECTIVO,CAJA,INSTITUCIONES FINANCIERAS PÚBLICAS,INSTITUCIONES FINANCIERAS PRIVADAS,ACTIVOS FINANCIEROS,ACTIVOS FINANCIEROS A VALOR RAZONABLE CON CAMBIOS EN RESULTADOS,RENTA VARIABLE,...,(-) PÉRDIDAS ACUMULADAS,RESULTADOS ACUMULADOS PROVENIENTES DE LA ADOPCION POR PRIMERA VEZ DE LAS NIIF,RESERVA DE CAPITAL,RESERVA POR DONACIONES,RESERVA POR VALUACIÓN,SUPERÁVIT POR REVALUACIÓN DE INVERSIONES,RESULTADOS DEL EJERCICIO,GANANCIA NETA DEL PERIODO,(-) PÉRDIDA NETA DEL PERIODO,PARTICIPACIÓN CONTROLADORA
0,384,2121860458.59,712903728.96,19959678.50,345391.69,0.00,19614286.81,439367682.04,304394782.36,0.00,...,-10339614.09,70117017.87,28664218.97,0.00,0.00,0.00,147499234.25,147499234.25,0.00,nan

In [27]:
datosFrame.insert(loc=1, column=row_anio["RAZÓN SOCIAL"], value=row_anio["CORPORACION FAVORITA C.A."])
datosFrame

,EXPEDIENTE,AÑO,ACTIVO,ACTIVO CORRIENTE,EFECTIVO Y EQUIVALENTES DE EFECTIVO,CAJA,INSTITUCIONES FINANCIERAS PÚBLICAS,INSTITUCIONES FINANCIERAS PRIVADAS,ACTIVOS FINANCIEROS,ACTIVOS FINANCIEROS A VALOR RAZONABLE CON CAMBIOS EN RESULTADOS,...,(-) PÉRDIDAS ACUMULADAS,RESULTADOS ACUMULADOS PROVENIENTES DE LA ADOPCION POR PRIMERA VEZ DE LAS NIIF,RESERVA DE CAPITAL,RESERVA POR DONACIONES,RESERVA POR VALUACIÓN,SUPERÁVIT POR REVALUACIÓN DE INVERSIONES,RESULTADOS DEL EJERCICIO,GANANCIA NETA DEL PERIODO,(-) PÉRDIDA NETA DEL PERIODO,PARTICIPACIÓN CONTROLADORA
0,384,2020,2121860458.59,712903728.96,19959678.50,345391.69,0.00,19614286.81,439367682.04,304394782.36,...,-10339614.09,70117017.87,28664218.97,0.00,0.00,0.00,147499234.25,147499234.25,0.00,nan

In [28]:
dafHeader

,RAZÓN SOCIAL,CORPORACION FAVORITA C.A.
0,DIRECCIÓN,AV.ELOY ALFARO Y AVIGIRAS No. N52-468 BARRIO:
1,EXPEDIENTE,384
2,RUC,1790016919001
3,AÑO,2020
4,FORMULARIO,SCV.NIIF.384.2020.1
5,FECHA DE LA JUNTA QUE APROBÓ LOS ESTADOS FINAN...,"Jun 24, 20"

In [29]:
newRow = pd.DataFrame([dafHeader.columns.to_list()], columns=dafHeader.columns)
newRow

   RAZÓN SOCIAL  CORPORACION FAVORITA C.A.
0  RAZÓN SOCIAL  CORPORACION FAVORITA C.A.

In [30]:
dataframeCabecera = pd.concat([newRow, dafHeader])
dataframeCabecera

,RAZÓN SOCIAL,CORPORACION FAVORITA C.A.
0,RAZÓN SOCIAL,CORPORACION FAVORITA C.A.
0,DIRECCIÓN,AV.ELOY ALFARO Y AVIGIRAS No. N52-468 BARRIO:
1,EXPEDIENTE,384
2,RUC,1790016919001
3,AÑO,2020
4,FORMULARIO,SCV.NIIF.384.2020.1
5,FECHA DE LA JUNTA QUE APROBÓ LOS ESTADOS FINAN...,"Jun 24, 20"

In [31]:
textosCabecera = dataframeCabecera["RAZÓN SOCIAL"].to_list()
datosCorpCabecera = dataframeCabecera["CORPORACION FAVORITA C.A."].to_list()
print(textosCabecera)
print(datosCorpCabecera)

['RAZÓN SOCIAL', 'DIRECCIÓN', 'EXPEDIENTE', 'RUC', 'AÑO', 'FORMULARIO', 'FECHA DE LA JUNTA QUE APROBÓ LOS ESTADOS FINANCIEROS (DD/MM/AAA)']
['CORPORACION FAVORITA C.A.', 'AV.ELOY ALFARO Y AVIGIRAS No. N52-468 BARRIO:', '384', '1790016919001', '2020', 'SCV.NIIF.384.2020.1', 'Jun 24, 20']

In [32]:
dafContador

          REPRESENTANTE LEGAL               CONTADOR
0  REPRESENTANTE(S) LEGAL(ES)               CONTADOR
1    SAENZ MIÑO FERNANDO JOSE  BRAVO ARRELLANO JORGE
2                  1704239654          1708033251001
3                         NaN                  38674

In [33]:
dafContador.drop([0], inplace=True)
dafContador

        REPRESENTANTE LEGAL               CONTADOR
1  SAENZ MIÑO FERNANDO JOSE  BRAVO ARRELLANO JORGE
2                1704239654          1708033251001
3                       NaN                  38674

In [34]:
addedColumnsList = "REPRESENTANTE LEGAL|IDENT. REPRESENTANTE LEGAL|CONTADOR|IDENT. CONTADOR|COD.CONTADOR".split("|")
addedColumnsList
#textosCabecera.extend([])

['REPRESENTANTE LEGAL',
 'IDENT. REPRESENTANTE LEGAL',
 'CONTADOR',
 'IDENT. CONTADOR',
 'COD.CONTADOR']

In [35]:
textosCabecera.extend(addedColumnsList)
textosCabecera

['RAZÓN SOCIAL',
 'DIRECCIÓN',
 'EXPEDIENTE',
 'RUC',
 'AÑO',
 'FORMULARIO',
 'FECHA DE LA JUNTA QUE APROBÓ LOS ESTADOS FINANCIEROS (DD/MM/AAA)',
 'REPRESENTANTE LEGAL',
 'IDENT. REPRESENTANTE LEGAL',
 'CONTADOR',
 'IDENT. CONTADOR',
 'COD.CONTADOR']

In [36]:
dafContador

        REPRESENTANTE LEGAL               CONTADOR
1  SAENZ MIÑO FERNANDO JOSE  BRAVO ARRELLANO JORGE
2                1704239654          1708033251001
3                       NaN                  38674

In [37]:
row1 = dafContador.iloc[0].to_dict()
row2 = dafContador.iloc[1].to_dict()
row3 = dafContador.iloc[2].to_dict()
print(row1)
print(row2)
print(row3)

{'REPRESENTANTE LEGAL': 'SAENZ MIÑO FERNANDO JOSE', 'CONTADOR': 'BRAVO ARRELLANO JORGE'}
{'REPRESENTANTE LEGAL': '1704239654', 'CONTADOR': '1708033251001'}
{'REPRESENTANTE LEGAL': nan, 'CONTADOR': '38674'}

In [38]:
datosCorpCabecera.extend( [row1["REPRESENTANTE LEGAL"], row2["REPRESENTANTE LEGAL"], row1["CONTADOR"], row2["CONTADOR"], row3["CONTADOR"]] )
datosCorpCabecera

['CORPORACION FAVORITA C.A.',
 'AV.ELOY ALFARO Y AVIGIRAS No. N52-468 BARRIO:',
 '384',
 '1790016919001',
 '2020',
 'SCV.NIIF.384.2020.1',
 'Jun 24, 20',
 'SAENZ MIÑO FERNANDO JOSE',
 '1704239654',
 'BRAVO ARRELLANO JORGE',
 '1708033251001',
 '38674']

In [39]:
datosCorpCabecera = np.array(datosCorpCabecera).reshape(1,-1)
dataframeCabeceraContador = pd.DataFrame(datosCorpCabecera, columns=textosCabecera)
dataframeCabeceraContador

,RAZÓN SOCIAL,DIRECCIÓN,EXPEDIENTE,RUC,AÑO,FORMULARIO,FECHA DE LA JUNTA QUE APROBÓ LOS ESTADOS FINANCIEROS (DD/MM/AAA),REPRESENTANTE LEGAL,IDENT. REPRESENTANTE LEGAL,CONTADOR,IDENT. CONTADOR,COD.CONTADOR
0,CORPORACION FAVORITA C.A.,AV.ELOY ALFARO Y AVIGIRAS No. N52-468 BARRIO:,384,1790016919001,2020,SCV.NIIF.384.2020.1,"Jun 24, 20",SAENZ MIÑO FERNANDO JOSE,1704239654,BRAVO ARRELLANO JORGE,1708033251001,38674

In [41]:
with pd.ExcelWriter(excel_output, engine="xlsxwriter") as writer:
    dataframeCabeceraContador.to_excel(writer, sheet_name="Encabezado", index=False)
    datosFrame.to_excel(writer, sheet_name="Datos", index=False)